[2017-04-05 19:30] npruehs opened #1 "Issue Move Order"

[2017-04-05 19:34] npruehs opened #2 "Issue Attack Order"

[2017-04-05 19:35] npruehs opened #3 "Issue Stop Order"

[2017-04-05 19:35] npruehs opened #4 "Acquisition Radius"

[2017-04-05 19:38] npruehs opened #5 "Move Camera (Keyboard)"

[2017-04-05 19:39] npruehs opened #6 "Move Camera (Mouse)"

[2017-04-05 19:39] npruehs opened #7 "Enforce Camera Bounds"

[2017-04-05 19:39] npruehs opened #8 "Select Unit"

[2017-04-05 19:40] npruehs opened #9 "Show Selection Circles"

[2017-04-05 21:16] npruehs opened #10 "Compute Fog of War Visibility"

[2017-04-05 21:16] npruehs opened #11 "Render Fog of War in 3D Space"

[2017-04-05 21:16] npruehs opened #12 "Render Fog of War on Minimap"

[2017-04-05 21:17] npruehs opened #13 "Show Terrain on Minimap"

[2017-04-05 21:17] npruehs opened #14 "Show Units on Minimap"

[2017-04-05 21:19] npruehs opened #15 "Spawn Initial Player Units"

[2017-04-05 21:20] npruehs opened #16 "Enforce Victory Conditions"

[2017-04-05 21:21] npruehs opened #17 "Team Colors"

[2017-04-05 21:21] npruehs opened #18 "Height Levels"
Height level vision could be restricted as follows:

1. Add and expose a float property HeightLevelSize to `RTSVisionVolume`.
2. In `ARTSVisionInfo::Tick`, when applying vision, add three steps:
2a. Convert the current world location of an actor to a height level by dividing its z component by the height level size specified by the vision volume.
2b. Convert the world location of the tile we're lo

[2017-04-05 21:21] npruehs opened #19 "Health Bars"

[2017-04-05 21:22] npruehs opened #20 "Show Player Names"

[2017-04-05 21:22] npruehs opened #21 "Show Error Messages"

[2017-04-05 21:22] npruehs opened #22 "Group Selection"

[2017-04-05 21:25] npruehs opened #23 "Show View Frustum on Minimap"

[2017-04-05 21:27] npruehs opened #24 "Hide Units By Fog of War"

[2017-04-05 21:28] npruehs opened #25 "Fire Projectile"

[2017-04-05 21:29] npruehs opened #26 "Play Selected Sound"

[2017-04-05 21:29] npruehs opened #27 "Play Attack Sound"

[2017-04-05 21:29] npruehs opened #28 "Play Death Sound"

[2017-04-05 21:30] npruehs opened #29 "Deselect Units"

[2017-04-05 21:32] npruehs commented on #1
* MovementSpeed

[2017-04-05 21:32] npruehs commented on #2
* AttackDamage
* Cooldown
* Range

[2017-04-05 21:33] npruehs opened #30 "Unit Owners"

[2017-04-05 21:34] npruehs opened #31 "Show Order Targets"

[2017-04-05 21:34] npruehs opened #32 "Control Groups"

[2017-04-05 21:35] npruehs opened #33 "Play Spawn Sound"

[2017-04-05 21:35] npruehs opened #34 "Play Interface Error Sound"

[2017-04-05 21:36] npruehs opened #35 "Play Interface Alert Sound"
"Under Attack"

[2017-04-05 21:39] npruehs opened #36 "Play Music"

[2017-04-10 18:58] npruehs commented on #8
Added in commit 5798b43b2cd08492d8f1232392139df3923ea387.

[2017-04-10 18:58] #8 closed

[2017-04-10 18:58] npruehs commented on #29
Added in commit 1a4f92f56908d6546820b79e1d94521c3f7e5ff2.

[2017-04-10 18:58] #29 closed

[2017-04-12 21:29] npruehs commented on #5
Added in commit 4de8f08912568f56ee961ca0be02bde73f26af63.

[2017-04-12 21:29] #5 closed

[2017-04-12 21:30] npruehs commented on #6
Added in commit 843158581625da6f7ba38ff430f97638882b5114.

[2017-04-12 21:30] #6 closed

[2017-04-12 21:30] npruehs commented on #7
Added in commit 9dab2c5cf35a9f40764b805ed2be4afe5c6f2760.

[2017-04-12 21:30] #7 closed

[2017-06-24 22:40] npruehs commented on #1
Added in commit eac264a988cc358f2364d5d79e6f2ce467dc71cf.

[2017-06-24 22:40] #1 closed

[2017-06-24 22:40] npruehs commented on #15
Added in commit 4b40a3765c2aa1960d3cfb9ece23f2dcaedbcdca.

[2017-06-24 22:40] #15 closed

[2017-06-24 22:57] npruehs commented on #3
Added in commit 0db10f9c09e55609ad0a205f33300957cd1df6ea.

[2017-06-24 22:57] #3 closed

[2017-06-24 23:01] npruehs commented on #30
Added in commit 55148079e8855f63834577174043168130622e8e.

[2017-06-24 23:01] #30 closed

[2017-06-25 10:07] npruehs commented on #2
Added in commit f64726c17ce73f6d2f76796f4560aa97e21a8c11.

[2017-06-25 10:07] #2 closed

[2017-06-25 10:47] npruehs commented on #16
Added in commit 7802bbb4c1b19dff21626f6e128329dcd2cb8cd4.

[2017-06-25 10:47] #16 closed

[2017-06-25 21:06] npruehs opened #37 "Zoom Camera"

[2017-06-26 06:50] HeadClot opened #38 "Support for Flying Units"
Support for flying units such as fixed wing aircraft, dragons, etc. would be welcome.

[2017-06-26 09:52] HeadClot commented on #25
Consider object pooling for the raycasts / projectiles for this feature. It will save allot of performance when allot of projectiles are on the screen.

https://www.raywenderlich.com/136091/object-pooling-unity

[2017-06-26 10:51] HeadClot opened #39 "Unit Formations"
Unit formations would be useful to have opposed to having a massive blobs attacking each other.

[2017-06-28 21:17] npruehs opened #40 "Squad Handling"

[2017-06-28 21:29] npruehs commented on #37
See https://forums.unrealengine.com/showthread.php?87350-RTS-Camera-C

[2017-06-28 21:32] npruehs opened #41 "Projectile Pooling"
See ideas in #25.

[2017-06-28 21:32] npruehs commented on #25
Added in commit b1b53f386c78d925e5d0942646b2d7ba1a31f92d. Opened #41 for projectile pools.

[2017-06-28 21:32] #25 closed

[2017-06-28 21:34] HeadClot commented on #25
Awesome :D

[2017-06-30 13:44] npruehs commented on #4
Added in commit b2710487a00dc0a6c1812bd6f800900308b744e.

[2017-06-30 13:44] #4 closed

[2017-07-02 12:16] npruehs opened #42 "Resource Gathering"

[2017-07-02 12:17] npruehs opened #43 "Construct Buildings"

[2017-07-02 12:19] npruehs commented on #42
* define resource types
* resource nodes
* gathering
* resource costs

[2017-07-02 12:20] npruehs opened #44 "Vehicle Support"

[2017-07-02 12:20] npruehs opened #45 "Map Territories"

[2017-07-02 12:20] npruehs commented on #45
Similar to Rise of Nations.

[2017-07-02 15:48] npruehs opened #46 "Cover System"

[2017-07-02 16:09] npruehs commented on #22
Added in commit 31bbe90252e9a054fbf33c5d786188a715f09366.

[2017-07-02 16:09] #22 closed

[2017-07-03 19:19] npruehs commented on #32
Added in commit 6705cf71c14321f434a65f2ca58a43cd16fa4bab.

[2017-07-03 19:19] #32 closed

[2017-07-06 21:46] npruehs commented on #9
Added in commit 41005ece6b3312caf8d102bdf307a9d0f664a072.

[2017-07-06 21:46] #9 closed

[2017-07-06 22:39] npruehs commented on #19
Added in commit 09acb3352dbc05e17bb9d686c6875988c119d0f4.

[2017-07-06 22:39] #19 closed

[2017-07-15 08:40] npruehs commented on #20
Added in commit 9c5bb3cbb0e73ef0a740dfa9838529bebc647ec0.

[2017-07-15 08:40] #20 closed

[2017-07-19 22:24] npruehs commented on #13
Added in commit 6a290e8f00f2ba96a207c45332acee13714f87a9.

[2017-07-19 22:24] #13 closed

[2017-07-19 22:24] npruehs commented on #14
Added in commit 2ef4371d5054f8ae20eca8c74cc9534696be67c1.

[2017-07-19 22:24] #14 closed

[2017-07-21 22:05] npruehs commented on #23
Added in commit 3eba335561bae9cf48f806dc1f58645e42b1facc.

[2017-07-21 22:05] #23 closed

[2017-07-23 17:41] npruehs opened #47 "Minimap Scrolling"
Allow camera movement through clicking on the minimap.

[2017-07-23 17:59] npruehs commented on #47
Added in commit a33f5ae69d5f7c8ae20d0275098862752e3961f5.

[2017-07-23 17:59] #47 closed

[2017-07-23 17:59] npruehs opened #48 "Minimap Orders"
Allow giving orders by clicking on the minimap.

[2017-07-23 18:15] npruehs commented on #48
Added in commit 5c931009fb9a3688468bf87f6abc2411a16ddec3.

[2017-07-23 18:15] #48 closed

[2017-07-24 21:31] npruehs opened #49 "Toggle Selection"

[2017-07-24 21:31] npruehs opened #50 "Add Selection"

[2017-07-24 21:34] npruehs commented on #49
Added in commit 617a15b9a6f42e0fcb95b4e5342b0041b2b45785.

[2017-07-24 21:34] #49 closed

[2017-07-24 21:34] npruehs commented on #50
Added in commit 617a15b9a6f42e0fcb95b4e5342b0041b2b45785.

[2017-07-24 21:34] #50 closed

[2017-07-31 01:30] HeadClot opened #51 "Possible solution for lockstep networking"
So been doing some digging into solutions for lockstep networking in UE4.

So here is what I found so far -
Make a custom networking subsystem and use an existing network stack.

This would consist of -
[Unreal.js](https://github.com/ncsoft/Unreal.js) for interfacing with UE4 and JS.
[Lance.gg](http://lance.gg/) for the networking stack.
[Lockstep.io](https://github.com/InkhornGames/lockstep.io/tr

[2017-07-31 01:33] HeadClot commented on #46
I found this maybe it could be of use?

https://github.com/Deams51/CoverGenerator-UE4

[2017-08-02 12:09] npruehs commented on #51
I think I'd refrain from using an additional JS layer for the network stack. Network needs to be crazy efficient (if we'd go down this route, we'd just do it for optimization purposes, after all). So I'd rather go for a native C++ implementation.

[2017-08-02 12:12] npruehs commented on #46
Ahh. Actually, that's not what I had in mind, but looks interesting. I thought more of a very simple cover system, i.e. "as long as a unit is within this area, it's gaining a defense bonus", just like in Dawn of War 2 and similar games. I didn't even think about more complex cover system like this one, which you find in third-person shooters I guess.

[2017-08-13 20:57] npruehs opened #52 "Player Teams"

[2017-08-13 20:57] npruehs commented on #52
Added in commit e163161c1b0fa06c65bb13e6b4e7cdd3d1db58cf.

[2017-08-13 20:57] #52 closed

[2017-08-13 20:57] npruehs commented on #43
Added in commit 042ec00d6f77439040cf40f959f914f8b8fbe5ee.

[2017-08-13 20:57] #43 closed

[2017-08-13 20:58] npruehs opened #53 "Unit Production"

[2017-08-13 20:58] npruehs commented on #53
Added in commit 7a4a189fc8c8aca75623423fa3504d031e96ef5c.

[2017-08-13 20:58] #53 closed

[2017-08-18 11:48] npruehs commented on #42
Added in commit 437f8523c48f10531d829a5b586b92dd5716d975.

[2017-08-18 11:48] #42 closed

[2017-08-19 10:34] theevil128 commented on #51
Keep in mind that physx continues work with the network solution.

[2017-08-19 10:36] theevil128 opened #54 "Troop Garrison"
As its say's, meant for buildings, also placed buildings and vehicles like troop carriers.

[2017-08-19 10:38] theevil128 commented on #46
The possibillity to cover on skeletal mesh's, tanks and mechs would really neat.

[2017-08-20 15:00] npruehs commented on #54
Actually, that's already there (except for a generic right-click command for entering). I've added this in commit 6f79dd5fbeb7f3a074ac87bb4781167d70df4c9a for construction sites, and it has already been re-used later for resource gathering (e.g. entering gold mines).

[2017-08-20 17:19] HeadClot commented on #54
My advice would be make this a component so people can use or not use it as they wish in their project :)

[2017-08-20 17:21] HeadClot commented on #51
@theevil128 I was unaware of this. Thanks for the heads up :)

[2017-08-20 17:24] HeadClot commented on #38
Might be making this a component and integrating this issue into #44

Just make it a vehicle movement component.

[2017-08-23 10:03] npruehs commented on #54
See my linked commit: It already is.

[2017-09-14 06:54] HeadClot commented on #51
Hey @npruehs Just thought I would chime in again. Found this article on Medium saying that you do not want to implement lockstep networking in RTS Games. [Link](https://medium.com/@treeform/dont-use-lockstep-in-rts-games-b40f3dd6fddb)

[2017-09-16 07:26] HeadClot commented on #54
@npruehs - Got a question about this. Would this work with vehicles such as Aircraft carriers or sea based troop transports?

Just curious :)

[2017-09-16 20:12] TaviScipio opened #55 "Unable to use plug in"
Hello, I've moved this question here from Youtube. I'm having issues getting the plugin to work, though I think that might be an issue with how I'm installing it. How I think it should work is, download the file RTSPlugin and paste it to the Plugins folder in my project file for UE4. ( Unreal Projects > RTSPluginTest > Plugins > My Game Plugin). I created the Plugins folder because there wasn't on

[2017-09-16 20:44] HeadClot commented on #55
What version of the engine are you using?

It should work with 4.16.3.

[2017-09-16 20:46] TaviScipio commented on #55
I tried using both 4.16.3 and 4.17.1, I got the error on both versions. Should I try uninstalling UE4 and reinstalling?

[2017-09-16 21:07] HeadClot commented on #55
I do not think that will solve the issue.

Have you tried compiling the plugin? From what I understand no binaries are provided out of the box for this plugin.

If you have not compiled the plugin here is what you need to do.

1. Create a C++ Project
2. Create a plugins folder in the project directory like you normally do with a BP project.
3. Copy UE4-rts to the plugins folder.
4. Right click the

[2017-09-17 01:51] TaviScipio commented on #55
I think I found the problem! The SATA connection bent the prongs for my hard drive. I'll have to reinstall UE4 on a new hard drive and I'll let you know if that was the issue! Thanks!

[2017-09-17 12:38] npruehs commented on #51
Ahh, interesting read! Thanks for sharing @HeadClot :)

[2017-09-17 12:39] npruehs commented on #54
Hey @HeadClot! As this is solely based on actors in general, this should work with any kind of unit you can imagine, including vehices, transports, towers, castles, you name it.

[2017-09-17 12:39] npruehs commented on #55
Thanks for pitching in @HeadClot! Let us know whether it works now @TaviScipio :)

[2017-09-17 18:02] HeadClot commented on #51
Welcome :)

[2017-09-17 18:05] HeadClot commented on #54
Alright awesome. Thanks for the insight :)

[2017-09-17 21:33] TaviScipio commented on #55
I started a C++ project and it works! This is an amazing tool y'all and I look forward to using it. I really wish I knew more about coding to help y'all out. I just need to figure out how to setup the components I want!
Cheers!

[2017-09-17 22:29] HeadClot commented on #55
@TaviScipio Awesome to hear that you got it working.

[2017-09-20 18:29] GoIiath opened #56 "Can't launch project with plugin"
Hi i've installed the plugin correctly but when i launch my project i have this
![image](https://user-images.githubusercontent.com/28307393/30660768-458e9e50-9e42-11e7-8c6f-2b2c54ba39a7.png)
and then i got this
![image](https://user-images.githubusercontent.com/28307393/30660818-6a3a8476-9e42-11e7-8229-f7da98ce5fe5.png)
dunno what to do, so i'm asking here ^^

[2017-09-21 10:16] kabivel commented on #56
Same Problem with 17.1 and 16.3

[2017-09-22 00:39] HeadClot commented on #56
Hey @GoIiath and @kabivel Check out issue #55 that should help you get started :)

[2017-09-24 15:07] #56 closed

[2017-09-24 15:10] GoIiath opened #57 "Move order"
I've got an issue with the move order,
When I right clik on another unit my unit move and attack but when i right click the ground my unit is not moving.
also can we change the rotate speed when unit have to face the enemy unit ? didn't find anything about that

[2017-09-24 15:59] npruehs commented on #57
Hey @GoIiath , have you added a NavMeshBoundsVolume to your level and built navigation? You can You press P to review your results in the viewport.

Everything related to movement and rotation is built-in Unreal stuff, so I recommend checking the CharacterMovementComponent.

[2017-09-24 16:34] GoIiath commented on #57
Yeah i've added NavMeshBoundsVolume, I also have the green  ground when I press P,
I'm also using the CharacterMovementComponent, move to attack is working but not simply move

[2017-09-24 21:13] npruehs commented on #57
Do you have any ground to actually click on? Movement orders are calculated by casting a ray: If that ray hits a non-enemy collision shape, it will move to the hit location. Otherwise, it will be unable to determine where you actually want to move (it doesn't just cast the ray against a zero-plane or similar).

[2017-09-25 15:51] GoIiath commented on #57
Yes I have a ground, i used a cube, it have a "glass" texture also just to be clear, i have to put the RTSplayerStart at the same Z as the green right ?

[2017-09-25 21:58] npruehs commented on #57
Hmm, is the cube an actor?

[2017-09-28 16:12] GoIiath commented on #57
Nah the cube is just a mesh

[2017-09-28 17:43] npruehs commented on #57
Sounds like a bug or wrong setup (= bad documentation ;) ) Is there any way you can share your project?

[2017-10-07 10:13] #55 closed

[2017-10-07 14:06] npruehs opened #58 "Regenerating Resource Sources"
Suggested by Chosker: Resource deposits that can regenerate but have an upper limit.

Suggested by SinineSiil: More complex variant of this would be Tiberium trees in C&C series. They regenerate resources in a circular area around them.

[2017-12-01 01:26] charizardfuego52 opened #59 "Compiling problem"
Let me say this first: I love how this plugin works, it's super easy to use!
But when i try to package the project (or the plugin) i always get an error.
Worst is: when i tried to open the template project in 4.16.3 (Yeah, 4.16.1 can't be downloaded) It give me the same kind of error :(

This is the compile log:
unning F:/Epic Games/Epic Games/UnrealEngine/UE_4.16/Engine/Binaries/DotNET/UnrealBuil

[2017-12-02 14:28] npruehs commented on #59
Hey @charizardfuego52! Thanks for bringing this up, this sounds familiar from the forums.

Reverting the changes made in commit c5a62a0 might fix your problem, more specifically:

* Use ComponentToWorld instead of GetComponentTransform() in RTSMinimapWidget
* Pass InContext.MyClippingRect to both MakeBox calls in RTSMinimapWidget

Does this help?

[2017-12-02 14:29] npruehs commented on #57
I will close this for now, please get back to us in case you've got anything new.

[2017-12-02 14:29] #57 closed

[2017-12-02 14:30] npruehs commented on #24
Added in commit f7efb2104d9b8445cd04458f96912dd890b67bb0.

[2017-12-02 14:30] #24 closed

[2017-12-02 14:30] npruehs commented on #12
Added in commit f7efb2104d9b8445cd04458f96912dd890b67bb0.

[2017-12-02 14:30] #12 closed

[2017-12-02 14:30] npruehs commented on #11
Added in commit f7efb2104d9b8445cd04458f96912dd890b67bb0.

[2017-12-02 14:30] #11 closed

[2017-12-02 14:30] npruehs commented on #10
Added in commit f7efb2104d9b8445cd04458f96912dd890b67bb0.

[2017-12-02 14:30] #10 closed

[2017-12-03 18:47] charizardfuego52 commented on #59
I will try it!
If anything goes wrong i will write!

[2017-12-04 19:23] charizardfuego52 commented on #59
Nope, i tried on 4.17 and it just doesn't works anyway... Same error!

[2017-12-04 22:23] npruehs commented on #59
Can you .zip your current whole project and send it to me? I've still got both 4.17 and 4.18 installed on my machine.

[2017-12-05 01:30] charizardfuego52 commented on #59
Sending Rar/Zip tomorrow

[2017-12-07 22:56] charizardfuego52 commented on #59
Im having problems with my internet :/ when im able i will upload through Mega /:

[2017-12-08 13:49] charizardfuego52 commented on #59
Here are the files: https://mega.nz/#F!1LABHagZ!kK_kLuWg6ow16W06GR1LOg
thanks you!

[2017-12-13 22:13] npruehs commented on #59
Hey @charizardfuego52!

I've finally found the time for wrapping my head around this, and there were several issues, actually. Luckily, I've had similar issues in another project using the plugin.

Here's what I had to do:

* Move and rename the file Private/RTSPluginPrivatePCH.h to Classes/RTSPluginPCH.h (this was required due to your other NativizedAssets plugin)
* Find and replace all occurence

[2017-12-16 14:16] npruehs commented on #59
The above changes have also been pushed to the dec2017 branch at https://github.com/npruehs/ue4-rts/tree/feature/dec2017

[2017-12-16 14:16] #59 closed

[2018-02-11 16:28] cptnight00 opened #60 "Unit Production Spawn Location and Thanks :)"
Hi,

Just want to say I am a huge fan of what you are doing here, and have been playing around, using your exposed values in blue print to add a percentage text render above buildings on their construction. I am not a Programmer however and blueprint is where my talents end.

A bug or more of a feature quest that immediately springs to mind is that there are no rally points for the buildings. Beca

[2018-02-11 23:20] npruehs commented on #60
Hey @cptnight00!

Thanks for all the warm words! That's what keeps me going :)

In our current project, we already have rally points in place, and spawning in a circle around the building in case blocked spawn positions as well. I just haven't had the time to merge everything back yet.

[2018-02-13 09:33] cptnight00 commented on #60
Great to hear! :)

[2018-04-14 06:24] hankyu1 opened #63 "Not compatible with 4.19"
Hi! the current develop branch is not compatible with version 4.19.

[2018-04-23 13:52] aerenyasar commented on #63
Start a 4.18 project with the plugin and then upgrade it to 4.19.

[2018-04-24 06:40] npruehs opened #64 "How to set up selection circles?"
Originally posted by Hank Yu at https://www.youtube.com/watch?v=OZWAxdLumXc.

"I was following the instruction on your github. Everything works nicely except for the selection circles. I can't figure out where to listen to the OnSelectionChanged event. Can you help me?﻿"

[2018-04-24 06:40] npruehs commented on #64
Hey Hank Yu!

You should be able to get the SelectableComponent of a character and bind to the OnSelected event, if you're interested in a particular actor.

Otherwise, you can create a PlayerController blueprint using RTSPlayerController as base class, and implement OnSelectionChanged there.

Please let me know if that helps!

[2018-04-24 06:44] npruehs commented on #63
Hey @hankyu1! Thanks for pointing this out - I'm going to update the plugin in the near future.

Thanks @aerenyasar for pitching in as well! :)

[2018-04-24 06:46] npruehs opened #65 "Assigning teams for pre-placed actors"
Level designers should be able to place actors in the world and set their initial team, so they change their owner as soon as a matching player joins (or have them be controlled by the AI).

[2018-04-24 06:55] npruehs commented on #65
This is how this might be done:

1. Add a property InitialOwnerPlayerIndex to RTSOwnerComponent:

[code]

2. In RTSGameMode::RestartPlayerAtPlayerStart, at the end, change the owner of all matching existing units:

[code]
3. Make sure your game mode has NumAIPlayers correctly set.

[2018-04-24 07:11] hankyu1 commented on #64
Hi Nick!

First of all, thank you for answering my question!
My biggest issue is that for other functionality, I can find the implementation in the example RTS project. But, for selection, I don't see how OnSelectionChanged has been used in RTSSamplePlayerController or RTSSampleCharacter. Can you direct me to where you implement selection circle in the RTS project?

Thank you!

[2018-04-28 09:01] npruehs commented on #64
Hey @hankyu1!

In the RTSSampleCharacter blueprint, there's a SelectionCircleDecalComponent that has been added natively by the RTSCharacter class. Currently, the RTSCharacter shows and hides that decal in Tick, based on the current selection state.

In a future iteration, we have moved showing selection circles entirely to the RTSSelectableComponent, and made it entirely event-based, but that som

[2018-04-28 22:35] hankyu1 commented on #64
I see.
Thank you for your reply. I'll give the new selection circle a try!

[2018-05-17 12:29] sovkan opened #66 "Issue: Selection box does not always select actors"
The selection box does not select units if the player creates the box from any direction except for top left to bottom right.

Example: the user creates a selection box by clicking and moving the mouse up and right and releases over a unit. The unit will not be selected. However, the unit will be selected if the player moved the mouse down and right.

[2018-05-30 16:00] JernejHabjan opened #67 "Feature request - minimap view frustum clamp"
Feature request
clamping view frustum for minimap within bounds of widget minimap area.

![image](https://user-images.githubusercontent.com/21958321/40732023-ac01aaea-6432-11e8-9661-eb3545141dec.png)

If camera is tilted, frustum lines go beyond minimap widget, resulting lines being drawn in middle of screen.

[2018-06-03 11:38] npruehs commented on #67
Thanks for reporting! :) This should only ever occur with very small maps, so we hadn't  encountered this one yet.

[2018-06-21 07:43] hankyu1 commented on #64
Hi Nice, sorry for the reply.

I was just trying to bind SelectionCircleDecalComponent to RTSSampleCharacter, and I couldn't figure out which method to use to "show" or "hide" the SelectionCircleDecalComponent. Which method do I bind to selection/deselection in RTSSampleCharacter?

[2018-07-10 01:10] SyedAman opened #68 "Can't find RTSPlayerPawn, trouble with the tutorial"
[code]

I can't seem to find a blueprint define called `RTSPlayerPawn.` The instructions say  to create this pawn as the camera. Am I doing something wrong?

[2018-07-10 01:11] SyedAman commented on #68
Whoops, this is made in the project not the plugin

[2018-07-10 01:11] #68 closed

[2018-07-15 13:49] SyedAman commented on #57
Did you manage to fix this? @GoIiath

[2018-07-15 23:01] SyedAman commented on #51
Lockstep networking is outdated

[2018-07-22 07:45] aerenyasar commented on #63
@Ancalgonn I didn't check this plugin for a while, I'm working on my own one, so I don't know if there is any progress for updating it to 4.19 (or 4.20).

[2018-07-22 17:10] SyedAman opened #69 "Seamless travel problems."
* UE4 Version 4.19
* Using Dedicated Server
* Errors on Server when seamless traveling players from lobby to match
* Crashing on Client when seamless traveling out of a match back to a lobby

This code is the culprit for the server when seamless traveling to a match:

[code]

I commented it out and seamless travel worked properly.

And currently getting this issue for the client when seamless trav

[2018-07-27 14:43] san-smith commented on #63
@Ancalgonn Hi. I had the same problems with version 4.18.3, and I was able to fix them.
Here's what I did:
1) I installed the Visual Studio 2017
2) Using  Visual Studio Installer I added a component "Unreal Engine installer"
3) I launched RTS.uproject from this repositorie and Unreal compiled the plugins.
I hope this helps you.

[2018-07-29 07:13] JernejHabjan opened #70 "Fog of war post processing volume skybox collision"
Hi
I would first like to thank you for this awesome plugin.
I am using your fog of war implementation, but I am getting some weird glitchy skybox when i pan around
[Look at this image](https://prnt.sc/kcbx5d)
Maybe Post proccessing volume is drawing over skybox, but it doesnt fill everything - RTS vision volume (size per tile) is set to 32

[2018-08-09 08:36] npruehs commented on #70
Hey @JernejHabjan ! Sorry for the delayed response.

To be completely honest: I've never seen anything like that before :) We've had issues where the total number of tiles isn't a power of two, so we're using pretty weird "size per tile" in our current project, i.e.:

* Map Size (= Vision Volume Extents): 30,000 x 30,000
* Size Per Tile: 117.1875 (which is 30,000 / 256)

But we've never had any is

[2018-08-09 08:39] npruehs commented on #69
Hey @SyedAman !

Can you provide a little more details on the crashes? You should be able to create a shortcut to your Unreal project file with the command-line argument `-game` to test this. If that doesn't work, a Debug build might be necessary to get more verbose call stacks.

Best regards,
Nick

[2018-08-09 08:41] npruehs commented on #66
Yep, that's a known issue I haven't had the time to merge the fix back to GitHub.

Basically, you just have to modify `ARTSPlayerController::GetSelectionFrame` to use the point with the minimum X and Y coordinates first.

[2018-08-10 19:45] rastko1996 opened #71 "4.20 Compilation error"
There is a compilation error with 4.20. I managed to get around it by removing UFUNCTION macro from `UFUNCTION(exec, BlueprintCallable, Category = "Cheat Manager")
virtual void God() override;` in file `RTSCheatManager.h`.

[2018-08-16 01:07] charizardfuego52 opened #72 "Editor crashes when a building is active in-game"
Everything is fine, the Plugin works flawlessly... Except for one thing.
Everytime I place a building and click "Play", the Editor crashes. It is really a shame because I wanted to use it... I'm just using the samples and is the sample that crashes. I use UE 4.18.3
PS: anyone has any idea on how can I select one initial character at the start of the game, like a "Hero" selection?
-Thanks!

[2018-08-19 18:56] Tdead1 opened #75 "Vision volume causing massive frame drops. Deleting it and pressing play crashes the engine."
Leaving the vision volume in the base sample level causes frame times to shoot up to ~40ms. The way around it is to change the size per tile variable to higher (64 gives ~60fps) but that messes up the vision volume.

Removing it from the level crashes the engine. We are using version 4.19.2 of Unreal. Might have to do with the upgrade?

[2018-08-19 18:57] Tdead1 commented on #72
Same here.

[2018-08-20 19:38] npruehs commented on #72
Can you provide a little more details, e.g. the stack trace of the crash?

How is your building setup, e.g. which base class you using and which components are attached?

[2018-08-21 22:02] charizardfuego52 commented on #72
It is as simple as downloading the source, opening the sample project (RTS) and placing a building sample. The editor will crash and won't give further details in the crash report. I hope this works

[2018-08-23 20:04] #71 closed

[2018-08-23 20:09] npruehs commented on #72
Hey @charizardfuego52 ,

I was unable to reproduce the issue on my side... Here's what I've tried:

- Open RTS.uproject in Unreal 4.18.3.
- Open RTSGameSampleMap.
- Add a single instance of RTSSampleBuilding.
- Hit Play.

However, I've had local changes that I've pushed to the develop branch now.

Would you mind

- telling me which Unreal version you're using
- pulling the most recent changes from

[2018-08-23 20:15] npruehs commented on #75
Hey @Tdead1 ,

I can observe the same on my side, using Unreal 4.18.3. From the top of my head, I know that we've done some performance optimization on that in our current title, but that was after 1000s of actors to the level. I can't remember anything else specific that we've done here, but it's been quite a while.

I need to dig deeper and profile into what exactly is causing the issue here.

S

[2018-08-23 20:41] npruehs commented on #75
There you go. Just pull from develop again.

You'll need to set the FogOfWarMaterial of your RTSMinimapWidget to M_RTSFogOfWarMinimap, and you should be fine now.

[2018-08-23 22:12] charizardfuego52 commented on #72
Testing tomorrow!

[2018-08-24 17:26] Tdead1 commented on #75
Ah, great, I'll ask my team to try it now. Thanks a bunch!

[2018-08-24 17:29] #75 closed

[2018-08-25 08:30] Tdead1 commented on #75
Just want to confirm that it works now. Thanks again!

[2018-08-25 22:05] charizardfuego52 commented on #72
I'll test the changes in a couple of hours, i had to reformat my disks :/

[2018-08-26 03:31] charizardfuego52 commented on #72
Your changes fixed the problem!, thank you!

[2018-08-26 10:37] npruehs commented on #75
Thanks for the feedback! :)

[2018-08-26 10:37] npruehs commented on #72
That's great to hear :)

[2018-08-26 10:37] #72 closed

[2018-08-27 17:33] joakimda opened #79 "Line of Sight"
Feature request for the option of having line of sight with the current fog of war.

Some kind of line of sight like the following:
https://thumbs.gfycat.com/DisastrousGrandAmericanindianhorse-mobile.mp4

Could it possibly be implemented as a boolean in the vision component and then use line tracing for the vision calculation for actors having the boolean set to true? Maybe do it similar to [this?

[2018-08-31 01:04] charizardfuego52 opened #80 "Implementation of unit levels and experience."
I have been trying to implement a Level system where the maximum health of a unit is set to grow when it gets enough exp, but it is not practical and overall doesn't work at all. So I think that the best idea is doing a native solution for this.
Maybe is stupid to ask for this, but is a interesting twist that could be useful for people who wants to do something like WC3 (Btw, it is an excellent ga

[2018-09-02 07:01] JernejHabjan commented on #80
Hi, Whats your approach to this problem?
Are you setting Actor->RTSHealthComponent->Maximum Health according to current actor level?
I think you could make a child Health component and implement your leveling system in there and then you could just call MyHealthComp->levelUp().
Thats interesting idea though.

[2018-09-02 17:59] charizardfuego52 commented on #80
Thanks!, this is exactly what i've been searching for!

[2018-11-19 22:40] npruehs commented on #37
Added in commit bfb67f736e0ba76e8e062776ea0712356510c7a9.

[2018-11-19 22:40] #37 closed

[2018-11-19 23:01] npruehs commented on #63
Project is now fully operational with Unreal Engine 4.18, 19, 20 and 21.

[2018-11-19 23:01] #63 closed

[2018-11-19 23:02] npruehs commented on #64
Hey @hankyu1, just call SelectActor and DeselectActor on the RTSSelectableComponent. It will handle the selection circles automatically.

[2018-11-19 23:03] npruehs commented on #69
I'm going to close this for now, for tracking purposes. Feel free to reopen if required.

[2018-11-19 23:03] #69 closed

[2018-11-19 23:04] npruehs commented on #70
I'm going to close this for now, for tracking purposes. Feel free to reopen if required.

[2018-11-19 23:04] #70 closed

[2018-11-19 23:05] #80 closed

[2018-11-19 23:09] #66 closed

[2018-11-19 23:31] npruehs commented on #26
Added in commit d085fdc0fbd799e8cb5007d32544c52f9eadb63f.

[2018-11-19 23:31] #26 closed

[2019-01-01 14:46] npruehs opened #81 "Rename plugin and example project"

[2019-01-01 14:46] npruehs opened #82 "Replace starter content"

[2019-01-01 14:47] npruehs opened #83 "Allow async loading"
Replace TSubclassOf by TSoftClassPtr and similar, where appropriate.

[2019-01-01 14:47] npruehs opened #84 "Convert plugin to Include-What-You-Use"
https://docs.unrealengine.com/en-us/Programming/UnrealBuildSystem/IWYUReferenceGuide

[2019-01-01 14:48] npruehs opened #85 "Promote usage of getters and setters"
Replace public properties where necessary.

[2019-01-01 14:48] npruehs opened #86 "Convert empty components to GameplayTags"
https://docs.unrealengine.com/en-us/Gameplay/Tags

[2019-01-01 14:49] npruehs opened #87 "Semantic versioning"

[2019-01-01 14:50] npruehs opened #88 "Initialization order"
Provide a solid initialization order (e.g. VisionVolume, FogOfWarActor, ...)

[2019-01-01 14:50] npruehs opened #89 "Remove unused content"
e,g. Content/AI/RTSBTTask_MoveIntoRange.uasset

[2019-01-01 14:51] npruehs opened #90 "Automated tests"
https://docs.unrealengine.com/en-us/Programming/Automation

[2019-01-01 15:14] npruehs opened #91 "Update documentation"
- Split up readme (several documents, but not Wiki, to stay in sync with code)
- add Tag tag
- https://github.com/npruehs/ue4-rts/community

[2019-01-01 16:15] npruehs opened #92 "Savegames"

[2019-01-01 16:16] npruehs opened #93 "Localization"

[2019-01-06 22:02] npruehs opened #94 "Enable plugin usage for blueprint projects"

[2019-01-06 22:58] npruehs commented on #81
Changed in commit 9ab1b2eed8fc21f4295724768599493d60184166.

[2019-01-06 22:58] #81 closed

[2019-01-07 22:43] npruehs opened #95 "Split RTSUtilities"

[2019-01-07 23:33] npruehs opened #96 "Clean BuildingCursor API"
* Mesh base class
* SetValidLocation(bool)

[2019-01-07 23:34] npruehs opened #97 "Make ARTSPlayerController::ControlGroups UPROPERTY"

[2019-01-07 23:36] npruehs commented on #85
Changed in commit a1df2ae4869cd3e7dc594c674552deb024f010fb.

[2019-01-07 23:36] #85 closed

[2019-01-08 20:13] npruehs commented on #97
Added in commit 9b56a8302a00749ba21dd91b4a10f21481d5a812.

[2019-01-08 20:13] #97 closed

[2019-01-09 21:52] npruehs commented on #96
Changed in commit 320efbb2e3163261b72bfee9bfdbdbfd7bbe06bb.

[2019-01-09 21:52] #96 closed

[2019-01-09 22:45] npruehs commented on #95
Changed in commit 15f7f16dda4ad3c9d01ed490eee142be67888532.

[2019-01-09 22:45] #95 closed

[2019-01-10 22:47] npruehs commented on #84
Changed in commit 33beb83f2a334f4fcdbf7e17135a28b638f2c922.

[2019-01-10 22:47] #84 closed

[2019-01-11 16:08] benyamin-abd opened #98 "Drag and drop spawn character in ui"
How i can set drag and drop spawn character in project

[2019-01-11 23:12] npruehs commented on #86
Changed in commit d13b9c4a94b85213c7877de0db1396235413f03f.

[2019-01-11 23:12] #86 closed

[2019-01-13 11:51] npruehs commented on #98
Hey @benyamin-abd! I'm afraid I don't fully understand your question - what exactly are you trying to do?

[2019-01-16 22:56] npruehs commented on #98
Hey @benyamin-abd !

That sounds more like a general UE4 question. You might want to setup some UMG UI with drag and drop functionality, e.g. buttons with images of your character. Then, you can handle the UI events as usual in Unreal, and spawn the character by deprojecting the mouse location into your world, e.g. against a landscape.

Here are some references to get you started:

https://docs.un

[2019-01-16 22:56] #98 closed

[2019-01-20 13:16] npruehs commented on #98
I see. I guess ARTSGameMode::TransferOwnership is what you want.

[2019-02-02 06:12] rezadarooei opened #99 "How to Spawn an Actor and then give an ownership to it?"
Hi,

Just want to say I am a huge fan of what you are doing here,and I must say your work is awesome,I have very basic question and I was digging and I cant find any good answer for it,I want spawn an actor then I want character owned it,how it is possible?

[2019-02-03 18:06] npruehs commented on #99
Hey @rezadarooei ! Just to be sure I understand the question correctly: What do you mean by "owned", exactly?

[2019-02-03 19:01] rezadarooei commented on #99
hi again let's I ask my question step by step.I want to spawn a character or unit in the desired place. second step after it needs to belong one of the team for example client or server? what is the best way to create something like this?
and another question I don't know it is bug or my problem,each time I want to create c++ class it is failed and I need to delete binary folder and regenerate gam

[2019-02-04 07:45] rezadarooei opened #100 "Bug in the HUD"
Hi I found a bug in the HUD  when it is on the multiplayer mode it crashes. I've attached Log
[RTS.log](https://github.com/npruehs/ue4-rts/files/2826944/RTS.log).

[2019-02-04 21:43] npruehs commented on #100
Hey @rezadarooei!

Thanks for bringing this up. The crash is due to missing UPROPERTY macros for some UObject properties in ARTSPlayerController. The IsValid checks in the HUD class don't work as expected if these properties are not properly tagged as UPROPERTYs. More specifically, ARTSPlayerController::HoveredActor and ARTSPlayerController::SelectedActors need to be UPROPERTYs to prevent the cras

[2019-02-04 21:43] #100 closed

[2019-02-11 00:03] npruehs commented on #99
For spawning units owned by a specific player, you could use ARTSGameMode::SpawnActorForPlayer.

[2019-03-06 12:59] bbt636 commented on #57
I have notice that it doesn't work in a normal mesh but ir does in a brush geometry. I hope this help

[2019-03-08 21:44] bbt636 opened #101 "Can I set enemy units controlled by pc?"
Hello,
I love what you are doing and was trying to use it for some projects, i am not a programmer, i am a 3d designer but i like to use blueprints to make some functions, i wanted to know if it was possible to have a group of enemy units controlled by a pc that belong to a same team, not as another player but as neutral units that can attack the player

[2019-03-08 21:49] bbt636 commented on #101
Hello,
I love what you are doing and was trying to use for some projects, i am not a programmer, i am a 3d designer but i like to use blueprints to make some functions, i wanted to know if it was possible to have a group of enemy units controlled by a pc that belong to a same team, not as another player but as  neutral units that can attack the player

[2019-03-10 13:39] npruehs commented on #101
Hey @bbt636 ! We have that in our current game - a lot, actually. Our approach was to indeed have an RTSPlayerAIController that owns these units, the "neutral" player in our case. Depending on your game, you might even need two of them: For instance, WarCraft III has two dedicated players called "Neutral" and "Neutral Hostile".

[2019-03-10 14:29] bbt636 commented on #101
Let me see if i get it correctly, i have to make another player controller to neutral team and assign the units to it? Thanks

[2019-03-10 17:21] bbt636 commented on #101
Could you please explain it in more detail? i am not very good at programming as i said before, my deepest apologies for disturbing you.

[2019-04-19 07:41] JernejHabjan opened #102 "Editor crashes when PIE with 2 players"
Hi!

I've cloned your repository and switched to 'release/1.0' branch and started editor.
I tried opening SKM-DarkSpace in PIE and it worked fine.
Then I tried running same map, but with 2 players to play in editor, where crash occurred.
It opened 2 windows, but then editor crashed.

I can append end of RTSProject.log when crash occurred, but it doesn't say much.

[code]

I hope this helps to solv

[2019-04-24 20:57] JernejHabjan commented on #70
Hey there

reopening this issue, as it is also occurring on SKM-DarkSpace map when adding default BP_SkySphere to map without any other configurations.

![image](https://user-images.githubusercontent.com/21958321/56692613-df822080-66e2-11e9-89b3-8ba13c23f2f6.png)

[2019-04-29 20:16] npruehs commented on #102
Thanks for reporting! Fixed in commit fdcb8ae4b3810b5a9c4dbae00084404815845797.

Sorry, I'm quite busy right now leading the team making A Year Of Rain based on this plugin, and we've got a major milestone ahead. I'd be happy to extend the descriptions afterwards :)

[2019-04-29 20:16] #102 closed

[2019-06-12 20:31] saadat99 opened #103 "4.22 Build failed"
Hi, this is on the release branch, UE4.22
how bad these errors are?
[code]
Full output
[code]

[2019-06-15 16:46] salvationws commented on #103
it will be good to update this project to 4.22 :)

[2019-06-23 08:22] npruehs commented on #103
Hey everyone,

I haven't installed 4.22 on my machine (yet), but you should be fine with overriding OnPossessed instead :)

[2019-06-24 07:06] grassandberries commented on #103
I'm having the same issue. How do you override OnPossess???

[2019-06-25 09:48] ash501 commented on #103
Hello,
I just compiled the plugin and a test project in 4.22.3

To override OnPossess... check RTSCharacterAIController.h/.cpp and RTSPlayerAIController.h/cpp in both files you'll find the function causing the error (ARTSPlayerAIController::Possess). Rename this function to  ARTSCharacterAIController::OnPossess (and ARTSPlayerAIController::OnPossess in the other cpp). In the header files (.h) rena

[2019-06-25 11:47] ash501 commented on #103
It crashes here with a Null-Pointer
AttackComponent = InPawn->FindComponentByClass<URTSAttackComponent>();

Looking into it, but haven't found anything yet. It crashes basically on any object inherit from this class.

[2019-06-25 18:40] saadat99 commented on #103
Any success on this guys? I've been waiting so long to make this work

[2019-06-26 03:42] grassandberries commented on #103
Does anyone have this project compiled successfully for UE4 (4.22) build?

[2019-06-26 05:00] npruehs commented on #103
Hey @saadat99 @grassandberries the steps outlined above should fix the issue, as mentioned before. I haven't got UE 4.22 on my machine yet (our project is picking up new engine versions slowly to make sure nothing breaks), but I'll update this thread as soon as I was able to push the fixes.

[2019-06-26 05:51] npruehs commented on #103
Fixed in commit 6dfa12de6ee60f50b97741105012e8b7b83c3762.

[2019-06-26 05:51] #103 closed

[2019-06-26 09:16] ash501 commented on #103
Thank you @npruehs.
I confirm that it works. My last issue from yesterday was that I missed the configuration. All seems to be fine now.

[2019-11-02 19:09] Andrene opened #104 "Is it possible to setup a grid for building placement?"
I was wondering if there is a way to make building placement grid based like SC2

[2019-12-06 22:18] FekkakaVolrod opened #105 "Set pawn AI controller class to your RTSCharacterAIController"
Hi im new and i dont speak a lot english, how i can "Set pawn AI controller class to your RTSCharacterAIController", i dont find PAWN AI CONTROLLER in the class setting.
Ty if you can help me

[2019-12-09 14:20] npruehs commented on #105
Hey @FekkakaVolrod !

Sorry for the delay. I was referring to the "AI Controller Class" property in the "Pawn" category of your character blueprint.

So, after opening any blueprint of type Pawn or Character, in the details panel, look for the AI Controller Class property in the Pawn section.

I've added a screenshot for clarification.

Hope that helps!
Nick

![AIControllerClass](https://user-imag

[2020-01-24 07:16] npruehs commented on #104
Hey @Andrene !

Sorry for the late reply - this one must have somehow slipped through.

Yes, that is definitely possible, and we did exactly that for A Year Of Rain. All you need to do is modify `ARTSPlayerController::PlayerTick`, which currently just does

`BuildingCursor->SetActorLocation(HoveredWorldPosition);`

In A Year Of Rain, we modified that code to something along the lines of

[code]

W

[2020-02-14 15:28] dillontryhorn opened #106 "Unreal Engine 4.24 Upgrade"
I was able to build this project with Unreal Engine 4.24 by replacing the deprecated Possess methods with OnPossess. Also the bCanBeDamaged variable was changed to the SetCanBeDamaged( value ) function.

Should we implement these changes?

[2020-02-14 16:05] #106 closed

[2020-02-20 21:37] josephkozak commented on #67
This was a long time ago; but an easy fix is turning the clipping settings of the widget to "Clip to Bounds" instead of inherit. It helps if you place a border around your mini map as well.

[2020-03-14 20:27] JaredP94 opened #108 "Units not moving"
Hi @npruehs,

I've been following your work for some time and decided to take a stab at using your plugin (release branch). Big fan of the work you've been doing here :)

I've been working through your usage guide (specifically the units component) and upon reaching the order binding section for smart orders, I've noticed that units are not moving when given orders.

I've created a unit derived fr

[2020-03-15 08:18] JaredP94 commented on #108
I've been testing your demo project to look for inconsistencies with my own project.

1. I noticed that you spawn a unit on the player start location, where do you manage the logic for that?

2. If I add another unit into your level and set it's team index to match the spawned unit, I find it's selectable but does not move on order (similar to what I'm experiencing in my game).

Hope this helps in

[2020-03-15 10:10] JaredP94 commented on #108
Hi @npruehs,

Just a quick update, I've managed to reproduce unit movement on a unit derived from the RTSPawn class. Still unable to reproduce movement for a unit derived from the RTSCharacter class.

[2020-03-17 06:16] iliags opened #109 "Fog of War not working in packaged builds"
In RTSFogOfWarActor.cpp the line `FVector SizeInWorld = VisionVolume->GetSizeInWorld();` defaults to a zero vector in packaged builds due to loading orders and whatnot which leads to a dividing by zero issue in the line `FogOfWarMaterialInstance->SetScalarParameterValue(FName("OneOverWorldSize"), 1.0f / SizeInWorld.X);`. This prevents the fog of war from rendering correctly in the 3D world but wor

[2020-03-17 18:55] npruehs commented on #108
Hey @JaredP94 !

Thanks for the warm words :)

Just to be sure that we're on the same page:

1. In the demo project, does movement work there?
2. Have you generated the navigation mesh for your level, and verified it looks as expected?
3. Is the log showing any warnings or errors?

[2020-03-18 16:45] JaredP94 commented on #108
Hi @npruehs,

Sorry, I meant to update this issue earlier. I noticed the logs weren't outputting any "Ordered Actor" messages when issuing commands to the RTSCharacter unit. That led me to realise that it was being controlled by the incorrect AI Controller. After that, all worked as expected!

Hope you didn't spend much time looking into this in the interim :)

Keep up the great work!

[2020-03-18 16:45] #108 closed

[2020-04-08 17:45] Andrene commented on #104
When attempting to build VS gives an error of URTSGameInstance: undeclared identifier.

[2020-04-10 20:01] npruehs commented on #104
Hey @Andrene! Looks like we're missing an include somewhere - can you post the full error message?

[2020-04-12 19:44] JaredP94 opened #110 "Double click for attack prompts attack outside of allowable range"
Hi @npruehs,

I believe I've found a bug when issuing an attack order on a target unit twice. This then allows the attacking unit to begin firing out of the allowable range whilst simultaneously moving towards the acceptable range.

I stepped through **BT_RTSPawnBehaviourTree** and found that it is correctly evaluating the **IsInRange** task until the second attack order is given. This appears to

[2020-04-26 15:13] JaredP94 commented on #101
Hi @npruehs,

Just to follow up on this thread, should we be creating the blackboard and behaviour tree for the AI used by the PlayerAIController?

I don't see any kind of AI that relates to that control mechanism otherwise?

Thanks!

[2020-04-27 16:18] npruehs commented on #101
@bbt636 Sorry for the late reply - somehow I didn't receive an e-mail, probably because your answers came so quickly after mine. Yes, exactly, in the current setup, you should be able to open SKM-DarkSpace as an example and take a closer look at everything.

Here, there are two player starts, BP_RTSPlayerStart with team index 0 and BP_RTSPlayerStart2 with team index 1. The blueprint Gameplay/BP_RT

[2020-04-28 15:01] JaredP94 commented on #101
@npruehs Makes perfect sense, thanks for elaborating on this! :)

[2020-04-28 19:59] JaredP94 commented on #110
Hi @npruehs,

I decided to do a bit more digging tonight. When issuing an attack order, the controller loops the **IsInRange** decorator until the attack radius is reached. Issuing another attack order on the same target then seems to cause the parent selector of the **IsInRange** decorator to move to the next child, which is the "FaceTarget" and "UseAttack" tasks. This explains the shooting whils

[2020-05-05 21:06] JaredP94 opened #112 "Where is value of SelfActor blackboard key set?"
Hi @npruehs,

Currently working on updating your plugin to support 4.25 as it brings a lot of useful features that can improve the AI component of the plugin.

Upgrading the project target seems to have resulted in the **SelfActor** key of the blackboard always returning a null value. I'm trying to determine where we set the value of this key but I haven't had any success.

Please could you provid

[2020-05-05 22:00] npruehs commented on #112
Hey @JaredP94!

SelfActor was never set by the plugin explicitly; I assume the engine does (did?) do so itself.

[2020-05-05 22:32] JaredP94 commented on #112
Thanks for the speedy response @npruehs!

Makes sense why I couldn't find any references :)

I haven't seen any mention in the release notes that mentions this change, but I'll bring it up on the forums.

In the interim, a valid solution is to do a cast on the **Owning Actor** input to get the controlled pawn, which achieves the same goal. I imagine this simply does the work that the engine was pr

[2020-05-06 19:35] JaredP94 commented on #112
Just a final update, forums have resulted in feedback that general practice is to cast to AI controller and get the controlled pawn instead of using SelfActor. Will propagate that through affected decorators and tasks for 4.25 support.

[2020-05-06 19:35] #112 closed

[2020-05-09 07:40] JernejHabjan opened #114 "Option to include this plugin as submodule/downloadable plugin in git"
Hey,

Is there an option, to include this plugin in git repository as submodule?
I cannot declare submodule, because this whole repository includes also other files, which are not related to plugin itself

[2020-05-17 17:55] npruehs commented on #67
@josephkozak Thanks for the hint!
@JernejHabjan Fixed in commit a683f9d6a9da513fe338ddf9861cfae881017d8c.

[2020-05-17 17:55] #67 closed

[2020-05-17 17:57] npruehs commented on #109
You're right. I recall similar issues from A Year Of Rain. This should be fixed with #88.

[2020-05-17 18:02] npruehs commented on #114
Hey @JernejHabjan!

I'm not aware of any options for including just subfolders in Git as submodules. I did some digging, and there's workarounds such as [including the whole repo and using symlinks](https://stackoverflow.com/a/5303867/1700174) to the plugin folder, which isn't great but should work in your case.

[2020-05-17 18:04] npruehs commented on #64
I'm closing this now for tracking purposes. Feel free to re-open in case you've still got any questions!

[2020-05-17 18:04] #64 closed

[2020-05-17 18:04] npruehs commented on #99
I'm closing this now for tracking purposes. Feel free to re-open in case you've still got any questions!

[2020-05-17 18:04] #99 closed

[2020-05-17 18:04] npruehs commented on #101
I'm closing this now for tracking purposes. Feel free to re-open in case you've still got any questions!

[2020-05-17 18:04] #101 closed

[2020-05-17 18:04] npruehs commented on #104
I'm closing this now for tracking purposes. Feel free to re-open in case you've still got any questions!

[2020-05-17 18:04] #104 closed

[2020-05-17 18:04] npruehs commented on #105
I'm closing this now for tracking purposes. Feel free to re-open in case you've still got any questions!

[2020-05-17 18:04] #105 closed

[2020-05-17 18:16] npruehs commented on #110
Good find! :)

I've applied a different fix in b328e68c67f7e01696fe1c84170c8ed62f1802d5: Adding an IsInRange decorator to the following sequence seems more useful, as this fights another potential issue we've experienced in A Year Of Rain: If moving into attack range fails (e.g. because the target is unreachable), the selector would allow the unit to attack anyway.

So here's how the fix looks lik

[2020-05-17 18:19] npruehs commented on #82
Removed in commit 9ab1b2eed8fc21f4295724768599493d60184166.

[2020-05-17 18:19] #82 closed

[2020-05-17 18:26] npruehs commented on #89
Removed in commit 17e37c8124536d7ad1f1f0d3ac0973910565b925.

[2020-05-17 18:26] #89 closed

[2020-05-17 20:48] JaredP94 commented on #110
Hi @npruehs ,

Definitely a simpler approach through the behaviour tree :)

Thanks for looking into this!

[2020-05-17 20:48] #110 closed

[2020-05-17 21:12] npruehs commented on #83
On hold until ready to test with an actual, larger project.

[2020-05-23 14:22] npruehs opened #116 "Camera Rotation"

[2020-05-24 12:48] npruehs commented on #90
Added in commit cc457baa8e841914079ca6f88729d502baf01b81.

[2020-05-24 12:48] #90 closed

[2020-05-24 12:51] npruehs commented on #87
Added in commit 786ad0923a0e7221b52d18b2282574d0f139e52c.

[2020-05-24 12:51] #87 closed

[2020-05-24 13:22] npruehs commented on #88
Added in commit 85b8c3cfcf86f3c36d40dfb4104b24d088f533c2.

[2020-05-24 13:22] #88 closed

[2020-05-24 13:48] npruehs commented on #109
@iliags I'm happy to tell you that the related issue has been fixed, and I could confirm fog of war working in a packaged build :)

Feel free to re-open this issue if your issue persists.

Thanks for your report!

[2020-05-24 13:48] #109 closed

[2020-05-24 13:59] npruehs commented on #94
Working now, if packaging the plugin through Edit > Plugins > Package...

Will include packaged plugins with every release.

[2020-05-24 13:59] #94 closed

[2020-05-28 19:59] npruehs commented on #91
Added in commit aa07f04f3de700a2710be346282ab7b2d4245d4a.

[2020-05-28 19:59] #91 closed

[2020-05-31 12:29] npruehs commented on #65
Added in commit e8c1f154d3ecb019e447b8d1370e1fd24377b9c8.

[2020-05-31 12:29] #65 closed

[2020-05-31 12:35] npruehs commented on #101
Just to follow up on this one:

* It's now possible to specify the number of AI players at the game mode directly (without having to pass parameters when loading a map), enabling you to test it in PIE
* There's a default implementation for player AI that carries out its build order.

Both can be found working in the example project as well.

[2020-06-08 07:39] volvicTM opened #117 "Create an AI controller deriving from RTSPawnAIController"
Using UE4.25 and C++ setup.

Following the Manual->Setup under Game Framework Setup, number 7.
"Create an AI controller deriving from RTSPawnAIController" results in this compile error:

[code]

Other classes build fine up until this point.
Have started a new project, same result.

[2020-06-08 14:41] npruehs commented on #117
Hey @volvicTM!

This is, in fact, a linker error, not a compiler error, caused because you're missing dependency modules for your case.

As you're extending `ARTSPawnAIController`, you're extending `AAIController` as well.

I was able to reproduce your issue, and adding `AIModule` to the `PublicDependencyModuleNames` of the `Build.cs` file of my project fixed it. I've updated the documentation in

[2020-06-08 14:57] volvicTM commented on #117
Thank you for correcting me, and that indeed did solve the issue!

Good project you have here, thanks for your contribution to the community. Once I get a grasp of it I will attempt to contribute towards it!

Many Thanks

[2020-06-08 16:40] #117 closed

[2020-06-08 17:52] volvicTM opened #118 "Could not find a part of the path DaeTestAutomationPluginAutomationTestFrameworkCommands.cpp.obj.response"
Hello,

I am attempting to load the example project from file: ue4-rts-1.0.0 (https://github.com/npruehs/ue4-rts/archive/1.0.0.zip).

After I extract the folder, I go to ue4-rts-1.0.0 -> Source -> RTSProject -> Doubleclick RTSProject.uproject or Rightclick RTSProject.uproject -> generate vs code, then Doubleclick RTSProject.uproject but they result in the same error:

[code]

This is the same resu

[2020-06-08 21:53] npruehs commented on #118
That's an odd one.

Can you provide more details, such as full build logs and/or a ZIP of your whole folder (without binaries)?

[2020-06-09 04:36] volvicTM commented on #118
It appears to be due to a long location path, if I put it here:

`D:\Development\Resources\Unreal\ue4-rts-1.0.0\ue4-rts-1.0.0\Source\RTSProject`
it results in the above error.

If I put it here:

`C:\Users\Main\Desktop\RTSProject`
It builds and runs just fine.
The file that was missing in the original issue, now appears after building.

My bad!

[2020-06-09 04:36] #118 closed

[2020-06-14 16:23] npruehs commented on #27
Added in commit 67d9be8a0c5679952873cd378719ca32bf52bfe1.

[2020-06-14 16:23] #27 closed

[2020-06-14 16:23] npruehs commented on #28
Added in commit 67d9be8a0c5679952873cd378719ca32bf52bfe1.

[2020-06-14 16:23] #28 closed

[2020-06-14 16:23] npruehs commented on #33
Added in commit 67d9be8a0c5679952873cd378719ca32bf52bfe1.

[2020-06-14 16:23] #33 closed

[2020-06-21 18:43] npruehs commented on #79
Added in commit 9e523aeab30ccd6dbbf4302e808b85335a282078.

[2020-06-21 18:43] #79 closed

[2020-06-21 18:44] npruehs commented on #18
Added in commit 9e523aeab30ccd6dbbf4302e808b85335a282078.

[2020-06-21 18:44] #18 closed

[2020-06-21 18:45] npruehs opened #120 "Waypoints"
Allow players to queue orders for actors.

[2020-06-21 18:45] npruehs opened #121 "Order Confirmation Sounds"
Play confirmation sounds based on ordered actor/issued order.

[2020-06-21 18:47] npruehs opened #122 "Custom Orders"
Allow users to create new custom orders with behavior trees.

_This is a breaking change and thus requires an increase of the major version._

[2020-06-22 15:02] #54 closed

[2020-06-22 15:03] npruehs commented on #93
All UI texts are using `FText`, making full use of the internal localization system.

[2020-06-22 15:03] #93 closed

[2020-06-24 18:58] npruehs commented on #60
Added rally points in commit eb7f1d231c0bf44e1f5047e8cd7260d325ee6e19.

[2020-06-24 18:58] #60 closed

[2020-07-25 06:19] PanzerVIIPrommy opened #123 "Cannot open RTSProject.uproject due to missing or outdated modules."
Trying to open the RTSProject.uproject comes with the error "Missing RTSProject Modules" and lists the following modules as either missing or built with a different engine version:

RTSProject
RealTimeStrategy
DaedalicTestAutomationPlugin
DaedalicTestAutomationPluginEditor.

Trying to rebuild them only comes with the error "Cannot be compiled. Try rebuilding from source manually".

[2020-07-26 09:00] npruehs commented on #123
Hey @PanzerVIIPrommy !

Where have you downloaded the project? Was that a GitHub branch or an official release version?

In general, you'll have to compile the binaries yourself (using Visual Studio) when opening the example project. Currently, that project is targeted at Unreal Engine 4.25.

Official releases contain just the plugin, but with precompiled binaries as stated in the download (e.g. R

[2020-07-27 03:28] PanzerVIIPrommy commented on #123
Good day!

I downloaded it from the latest GitHub branch, specifically the 1.2.0 release. Filename is "ue4-rts-1.2.0.zip".

Just to be clear, I have to compile the binaries  of the project? If so, may I have know how to compile them so that they work with my Unreal Engine version (v 4.25)?

[2020-08-05 21:11] jacopomaroli opened #124 "characters not moving"
Hi there, I'm having an issue with making my characters (**I'm not using pawns**) move on RMB click.
I compiled the project example you provided and it works fine. The one I built from scratch following your manual had issues around [here](https://github.com/npruehs/ue4-rts/blob/develop/Source/RTSProject/Plugins/RealTimeStrategy/Source/RealTimeStrategy/Private/RTSPlayerController.cpp#L310)
All my

[2020-08-06 18:12] jacopomaroli commented on #124
ok I solved it. There were several issues at play:
1) For both Pawn BP and Character BP In Class Defaults -> Pawn -> AI controller Class I was linking the RTSPlayerAIController definition instead of the BP implementation
2) When launching the project in debug mode from visual studio I noticed I was hitting a lot of INT 3 breakpoints when it was attempting to load game tags. as I added games tags a

[2020-08-08 01:17] npruehs commented on #123
Hey @PanzerVIIPrommy!

Yes, if you're pulling (or downloading) from Git, then you'd have to compile the binaries yourself.

However, you can always access the latest release from the [releases page](https://github.com/npruehs/ue4-rts/releases), which includes pre-compiled binaries.

Best regards,
Nick

[2020-08-08 01:17] npruehs commented on #123
Hey @PanzerVIIPrommy!

Yes, if you're pulling (or downloading) from Git, then you'd have to compile the binaries yourself.

However, you can always access the latest release from the [releases page](https://github.com/npruehs/ue4-rts/releases), which includes pre-compiled binaries.

Best regards,
Nick

[2020-08-08 01:18] npruehs commented on #123
Hey @PanzerVIIPrommy!

Yes, if you're pulling (or downloading) from Git, then you'd have to compile the binaries yourself.

However, you can always access the latest release from the [releases page](https://github.com/npruehs/ue4-rts/releases), which includes pre-compiled binaries.

Best regards,
Nick

[2020-08-14 03:07] Zimbo1786 opened #126 "Character Not Attacking"
Hi all,

I have downloaded the latest release (1.2.0) and integrated it into a current project of mine. I also downloaded the latest 1.2.0 project file.

With the plugin, I followed the Manual in setting up everything and I have made a Pawn (Parent Class: Pawn) and a Character (Character) and added the same components (excluding the differences between the Pawn required the RTSPawnMovement compone

[2020-08-14 11:33] Zimbo1786 commented on #126
Hi all,

Figured out what was occurring - the size of the collision component. Closing this issue.

[2020-08-14 11:33] #126 closed, assigned to nobody

[2020-09-14 12:09] officefish opened #129 "How to setup Behavior Tree?"
I don't see any ability to create new BluePrint instance of BT_RTSPawnBehaviorTree. What exactly I need to do for set BehaviorTree? Import it manually from repository? Could you please explain step by step what i should do?

[2020-09-14 12:28] officefish commented on #129
I manually copy both this uassets from Content folder of Plugin to Content folder of project and now both this classes can be used to set it in AIController. Is it okay ?!

[2020-09-16 18:32] npruehs commented on #129
Hey @officefish !

Sure, if that works for you. Usually, you should be able to use the classes by enabling "Show Plugin Content" in the View Options of your Content Browser.

![ShowPluginContent](https://user-images.githubusercontent.com/757321/93377792-c8a21800-f85b-11ea-8ace-7c882cf2b69a.png)

[2020-09-23 00:51] coolyoshi opened #131 "Camera and unit movement issue"
Hey there,

Really really love this rts plugin, just been struggling getting the camera and unit movement to work.

I've followed the manual and set up everything (except for UI and AI), but for some reason my camera won't move when I press the arrow keys. Other inputs such as mouse scrolling or unit group saving works however.

The second issue is my units won't move. From debugging I can see the

[2020-09-23 03:38] coolyoshi commented on #131
Okay I've fixed camera issue, I didn't properly set the brush size for camera bounds, still struggling with unit movement issue

[2020-09-23 05:28] coolyoshi commented on #57
Having same issue. @bbt636 what do you mean by brush geometry? Did you manage to fix it?

[2020-09-23 07:23] coolyoshi commented on #131
After countless hours, finally found the issue (If only I didn't ignore those visual studio errors when debugging).
The [documentation ](https://github.com/npruehs/ue4-rts/blob/develop/Documents/Manual/Setup.md) says to add the tag "DT_RTSGameplayTags", but actually we need to add the tags defined in RTSGameplayTagLibrary.cpp. Imo if you're a total noob I think the documentation can be a bit misle

[2020-09-23 07:35] #131 closed, assigned to nobody

[2020-09-23 07:35] coolyoshi commented on #131
see comments above

[2020-09-23 21:49] JernejHabjan commented on #114
Can I maybe initialize whole repository as a submodule and set RTS plugin path in build script?

[2020-09-24 07:29] coolyoshi opened #133 "Character slows down when spamming move order"
Hey all,

Having an issue where if player spams move order, it makes the character stutter a tiny bit.
I've tried turning acceleration off by setting "Requested Move Use Acceleration" option to false in the character movement component, which seems to have helped but unit still seems to stutter a bit

[2020-09-26 11:14] coolyoshi opened #134 "Fog Of War - Change outside field of vision to dark instead of gray"
I think it would be useful to have an option to change the fog of war to something similar to Warcraft 3 where areas outside field of vision are just slightly darker:

![fogofwargoals](https://user-images.githubusercontent.com/5431677/94339377-73c67600-ffae-11ea-896d-dab6f0b74e75.png)

Or if anyone knows how to implement this any help would be greatly appreciated

[2020-09-26 11:58] Zimbo1786 commented on #134
Hi @coolyoshi ,

This can be done through C++ in the RTSFogofWar.cpp in this section:

			case EStratVisionState::VISION_Known:
				FogOfWarTextureBuffer[iBlue] = 0;
				FogOfWarTextureBuffer[iGreen] = 255;  ----- this line you can change to darken the known fog. Say 110.
				FogOfWarTextureBuffer[iRed] = 0;
				FogOfWarTextureBuffer[iAlpha] = 0;
				break;

It could probably also be done in the F

[2020-09-26 12:18] Zimbo1786 opened #135 "Buildings - constructing halfway through the floor (plane)"
Hi all,

When asking a builder to construct a building, the building cursor is created (which is above the plane) and when building placement is confirmed, the building is sometimes placed above the plan (as it should be) or it is placed halfway through the plane (which is incorrect). Just wondering if anyone else has faced this or might have a solution?

The first image shows the building being c

[2020-09-26 17:01] JernejHabjan commented on #114
Is there a possibility that RTSProject/Plugins/RealTimeStrategy folder gets pushed to another repository and is used in this one as a git submodule?
This would make it so much easier as I could then also initialize a git submodule of my own?

[2020-09-26 20:11] coolyoshi commented on #134
@Zimbo1786

That did the trick, you actually saved me.
Edited the value in C++ and it looks perfect.

Thanks so much for the help

[2020-09-27 05:14] Zimbo1786 commented on #134
No worries @coolyoshi - glad to have been able to help out.

[2020-09-27 15:34] npruehs commented on #131
Hey @coolyoshi ,

the documentation is correct and tells you to add the DT_RTSGameplayTags asset to the Gameplay Tag Table List. That asset adds all gameplay tags required for the plugin. You might need to enable "Show Plugin Content" to be able to do so.

[2020-09-27 15:37] npruehs commented on #133
Hey @coolyoshi ,

I think we've seen the same for A Year Of Rain, and that issue is related to the behavior trees being restarted every time you issue an order. We added an order flag for whether the behavior tree actually needs to be restarted when issuing the same order type multiple times (e.g. consecutive move orders), but that flag hasn't been merged back to the plugin yet.

[2020-09-27 15:42] npruehs commented on #134
This should already be part of the plugin; there are three different vision states:

- VISIBLE - normal color
- KNOWN - desaturated
- UNKNOWN - full black

[2020-09-27 15:47] npruehs commented on #135
Hey @Zimbo1786 !

That's odd, especially with the building cursor showing correct locations. Here's the code path that's used for placing the construction site:

* ARTSPlayerController::ConfirmBuildingPlacement
* ARTSPlayerController::IssueBeginConstructionOrder
* ... some routing to the server and behavior tree execution
* URTSBuilderComponent::BeginConstruction

You might wanna investigate along

[2020-09-27 15:49] npruehs commented on #114
Hey @JernejHabjan ,

yeah, that should work. It would require some re-thinking of where to put what in terms of documentation.

"Unfortunately", I've just become a father and I don't have the time to do that right now, but I'll definitely keep that in mind!

[2020-09-27 17:18] JernejHabjan commented on #114
Hey @npruehs congratulations!

Oh and I managed to get it to work with symlink as you recommended (still a proper submodule would be welcome as well).

Thanks and have a good one.

[2020-09-27 17:18] #114 closed

[2020-09-28 01:35] Zimbo1786 commented on #135
Hi @npruehs ,

Thanks for the tips, I have looked and I created a few extra logging steps and it looks like the building does not have a valid index number.

The code is here in the ARTSPlayerController::IssueBeginConstructionOrder

    for (auto SelectedActor : SelectedActors)
    {
        if (!IsValid(SelectedActor) || SelectedActor->GetOwner() != this)
        {
            continue;
        }

[2020-09-28 21:48] #134 closed, assigned to nobody

[2020-09-28 22:04] coolyoshi commented on #133
@npruehs

I see, thanks for the reply. I checked out the game A Year Of Rain and was really impressed. Noticed it had some path finding issues. After watching some videos I've moved that much closer to the top of my priority list. Do you have any tips or what kind of methods I should be looking into to implement a path finding solution?

[2020-09-29 21:51] npruehs commented on #135
`BuildingIndex != INDEX_NONE` indicates a valid building index :)

[2020-09-29 21:55] npruehs commented on #133
Hey @coolyoshi

Thanks for the nice words :) It was a lot of work, and yes, in the end, it looks like both navigation and savegames were the most prominent issues with the game, so you might want to tackle these early.

Usually, path _finding_ isn't the major issue - for us, it was path _following_ that caused most pain. We started implementing a flow field navigation system for Unreal Engine, but

[2020-09-30 00:16] coolyoshi commented on #133
@npruehs

Yeah can't imagine how much work must've went into the game. Was awesome to see heroes fully functioning in an RTS game and was really digging the art style. Truly inspiring

Wow thank you for the tips, wasn't even aware of the term path following but I think I can see the differences now. Will definitely look into flow fields as I am in fact using melee units. And I will try to look int

[2020-09-30 04:31] Zimbo1786 commented on #135
Hi @npruehs,

Thanks for that - just a question then as still learning C++, with the code below:

bool ARTSPlayerControllerSkirmish::IssueBeginConstructionOrder(TSubclassOf<AActor> BuildingClass, const FVector& TargetLocation)
{
    // Determine index.
    int32 BuildingIndex = INDEX_NONE;

    for (auto SelectedActor : SelectedActors)
    {
        if (!IsValid(SelectedActor) || SelectedActor->Ge

[2020-09-30 09:26] Zimbo1786 commented on #135
So I have been able to look through the code and compare line by line for the plugin in my project and for the RTSProject and all is looking like it lines up. I have also checked the Behaviour Trees and the Orders to ensure that there is nothing going on there and again both comparisons are okay.

What I have noticed in the logs is that when the building is through the plane (incorrect), the Z val

[2020-10-04 09:51] npruehs commented on #135
Hey @Zimbo1786 ,

that all sounds very odd to me. I vaguely recall a similar issue at the very beginning of A Year Of Rain, but I'm not sure what the reason/solution was.

Can you share a minimum repro?

Thanks,
Nick

[2020-10-05 10:14] Zimbo1786 commented on #135
Hey @npruehs,

I have finally found out what the issue was - nothing to do with the code or orders, but was to do with the box collision on the building and under the Collision section:
-> Collision Presets (when set to OverlapAllDynamic, the building stays above the plan every time, however when set to Custom and set it to WorldDynamic and set the block to WorldDynamic, the building then goes thr

[2020-10-11 14:02] JernejHabjan commented on #58
Hey, would this approach be acceptable?:
- Create RegenerationFactor variable
- On Tick check if current resources less than max and regenerationFactor greater than 0
- If so, reuse logic from ConstructionSiteComponent to increase current resources (clamp max)
- Broadcast OnResourcesChanged

For regenerating resources in circular area, we could create a new task (this could also contain tree growi

[2020-10-11 14:26] JernejHabjan commented on #122
How would attack - move order be implemented? Does this belong under custom orders?

[2020-10-11 14:36] JernejHabjan commented on #120
How can this be combined with Custom orders #122?
Example:
User can first queue actor move, then actor attack, then actor attack - move order.

First one requires only map location, second one action + actor, third one action + map location

How is a "waypoint" defined then? combination of "action" + "map location/actor"?

How do we check if actor should execute next action (on tick?)

[2020-10-11 14:44] JernejHabjan opened #136 "Terrain height building placement"
Support slopes

Following building placement should be invalid:
![image](https://user-images.githubusercontent.com/21958321/95681569-d770b600-0be0-11eb-968c-5ca4d780543a.png)

But should be valid on top of a flat hill (building should sit on top of a hill not on z=0

[2020-10-11 14:52] JernejHabjan opened #137 "Multiple selection sounds"
Now we can assign only 1 selected sound to RtsSelectableComponent.

We could make it like SC2/ Warcraft where multiple sounds are bound and we cycle through them at random

[2020-10-11 14:58] JernejHabjan opened #138 "Game time / speedup/ slowdown/ pause"
For example Settlers

[2020-10-11 15:01] JernejHabjan opened #139 "Resource drain placement restriction"
We could restrict resource drain to sit on top of certain resource source - See Refinery in SC2

[2020-10-12 09:44] iliags commented on #133
Is the flow field code still floating around? I ended up writing a version of the flow field pathing and would be interested to compare code for it. I used https://howtorts.github.io/ along with the [Game AI Pro](http://www.gameaipro.com/GameAIPro/GameAIPro_Chapter23_Crowd_Pathfinding_and_Steering_Using_Flow_Field_Tiles.pdf) pdf as a reference and dropped it all into a world subsystem so I am pret

[2020-10-13 21:14] npruehs commented on #122
Yes, definitely. With A Year Of Rain, we found that attack-move is an incredibly complex order (more than meets the yet). Most notably, decisions like when to return from an acquired enemy (and where to) are not easily made and implemented, and we had various bugs with units ending up in locations where they shouldn't (especially when repeatedly disengaging and encountering enemies on the way).

[2020-10-13 21:15] npruehs commented on #120
Yes, exactly. You'd just queue whole order objects, along with all data in it. Then, you'd use an OrderFinished (and OrderCanceled) callback to check whether the queue is empty or not, dequeueing the next order if there is any.

[2020-10-13 21:16] npruehs commented on #136
That's correct! I believe, for A Year Of Rain we added checks for collision with the terrain (or any arbitrary collision channel) for this.

[2020-10-13 21:17] npruehs commented on #138
Unreal Engine should already have these - check

https://docs.unrealengine.com/en-US/BlueprintAPI/Utilities/Time/SetGlobalTimeDilation/index.html
https://docs.unrealengine.com/en-US/BlueprintAPI/Game/SetGamePaused/index.html

for instance.

[2020-10-13 21:18] npruehs commented on #133
Unfortunately, that code is proprietary to Daedalic Entertainment, and I doubt they'll open-source it (at least for now).

[2020-10-17 03:38] Andrene opened #140 "Upgrading mining amounts/possible workarounds."
I've been trying to figure out some way to have it possible to increase mining amount, and if thats not possible then on resource returned add a number of resources depending on the resource and upgrade level. It looks like increasing the mining amount isn't possible, and just adding resources on resource returned may be possible.

I've tried using the built in Add Resources function, however its

[2020-10-20 18:21] npruehs commented on #140
Hey @Andrene !
You should always be able to just do a "Get Component Of Class" node to access that component?

[2020-10-20 23:30] Andrene commented on #140
Alright, that seemed to work! Forgot about that function, although now that it works its created another problem, but I should be able to resolve that.

[2020-10-20 23:30] #140 closed, assigned to nobody

[2020-11-29 17:11] Furari439 opened #141 "Camera moves when creating a selection frame"

[2020-11-29 17:24] #141 closed, assigned to nobody

[2020-12-01 09:02] IkoLogs opened #142 "Question About extending AI Behaviour tree and blackboard"
Hi

Am a bit new to unreal framework .Following your  docs to setup new project.

For all classes your doc says to derive from RTS class , and was happy with that.

But then i got to this steps

8)Set the Pawn Behavior Tree Asset of the new pawn AI controller to BT_RTSPawnBehaviorTree.
9)Set the Pawn Blackboard Asset of the new pawn AI controller to BB_RTSPawnBlackboard.

So my question here is wh

[2020-12-03 10:31] aqua-pro opened #143 "UE4 Crashing, strange vision bug"
Hello!

First of all, thank you for the amazing plugin, it really is great!

We haven't really done anything special, we are just setting up the project following the Manual.

Sometimes vision doesn't load, sometimes vision loads and everything works correctly, and sometimes it crashes. It's quite random.

https://streamable.com/uchsv6

What more information could I offer to help resolve this issu

[2020-12-05 14:05] aqua-pro commented on #143
Hello, I'm following up with some more info

I'm using UE 4 **4.25.4**, and I followed everything about the Manual as best as I could, multiple times even just to make sure

The project compiles successfully, inside and outside UE4

I've been testing and it seems to be something related to Multiplayer and the RTSFogOfWarActor. It only crashes in Multiplayer, and it only crashes when there's a RTSF

[2020-12-05 17:28] aqua-pro commented on #143
Hello,

I've reproduced the same bug by just following the Manual (parts 1-4) again

I've uploaded the test project here in case someone wants to try it: https://easyupload.io/isnsvo

Thank you
Best regards

[2020-12-06 03:47] ScanTpede opened #144 "Setting damage with variables?"
Hi,
First of all, I thank you for the plugin, it will save much time.
I am implementing the plugin to my game, and got a problem.
Unit stats from my game is vary too much(I'd say my unit is combination of 20 units) and I don't know how to set stats(mostly stats in the RTS categoty in details panel) like damage, health with variables in the plugin. I'll have to make tons of units if I can't resolve

[2020-12-06 21:20] npruehs commented on #144
Hey @ScanTpede !

Right now, changing attack damage or health is not exposed, neither to blueprints nor to C++. If you're familiar with C++, you could change that in the RTSAttackComponent or RTSHealthComponent. In that case, I strongly recommend looking at Gameplay Abilities as well: https://docs.unrealengine.com/en-US/InteractiveExperiences/GameplayAbilitySystem/index.html

Best regards,
Nick

[2020-12-06 21:25] npruehs commented on #143
Hey @nope-nope !

That's odd. Are you running a listen or dedicated server? Is the game crashing on client or server side? Does this happen in editor or packaged builds?

Can you provide full log files of both client and server side for a session that crashed?

Best regards,
Nick

[2020-12-07 20:51] aqua-pro commented on #143
Hello @npruehs , thank you for responding!

Everything I've done yet is PIE (Play In Editor), I have not packaged the build yet.

Here are the crash log files (I think that's what you mean)
https://easyupload.io/avkici

Here are my settings for PIE. However, it happens only when you do networking, it never happens in offline. I've noticed that with Listen Server, it's harder to make it crash, and

[2020-12-09 01:32] coolyoshi commented on #144
@npruehs

On the topic of gameplay abilities, I'm wondering how you managed to setup the ability system workflow? I've watched your presentation and I think I have a rough idea but I'm unsure about the more specific steps.

My current thinking for implementing lets say an AOE damage ability is the following:

1. Use blueprints to call C++ cast method when AOE spell button is clicked
2. In the cast

[2020-12-10 20:54] npruehs commented on #144
Hey @coolyoshi !

You're right about steps 1-3. Then, for A Year Of Rain, we handled "Use Ability" as just another order (similar to Move, Attack, etc.). So, instead of issuing an order with data like

OrderClass: MoveOrder
TargetLocation: (3, 4, 7)

We've been issuing something along the lines of

OrderClass: UseAbilityOrder
TargetLocation (3, 4, 7)
Index: 2

with TargetLocation referring to the

[2020-12-10 21:18] #143 closed, assigned to nobody

[2020-12-10 21:19] npruehs commented on #143
It looks like I missed some valid checks when merging back major changes to the vision feature. I've commited a fix that prevents the crashes. Hope that helps!

[2020-12-11 06:28] coolyoshi commented on #144
Wow awesome thanks for the reply!
I see, so I can use AbilityOrder and index of ability.
l think I kind of get it now but will probably have to play around with the code a bit more, thanks again!

[2020-12-12 13:16] #144 closed, assigned to nobody

[2020-12-15 08:44] ScanTpede commented on #144
After a week of research, I finally manage to set Maximumhealth as varible in Blueprint. I'll left resolve step so nobody gets suffer from this. Hit me if I am using wrong method.
Here is the step:
1. Set Visual Studio (https://docs.unrealengine.com/en-US/ProductionPipelines/DevelopmentSetup/VisualStudioSetup/index.html)
2. Right click Yourproject.uproject in project folder and generate Visual Stu

[2020-12-30 03:35] Zimbo1786 commented on #137
Hi @JernejHabjan and @npruehs,

This can be done by:
- Importing the sounds into UE4
- Create a sound cue
- Add a random node in the Sound Cue and add more input pins as needed
- Connect the random node to the output node
- Add a wave player and left-click on it to select it. You can then choose your desired sound from the drop-option on the sound wave.
- Repeat for as many pins you have
- Connect

[2020-12-30 12:45] npruehs commented on #137
Hey @Zimbo1786 ,

thanks for your detailed explanation!

Actually, that's what I had in mind originally, but when I saw this issue, I completely forgot about that :)

Cheers!
Nick

[2020-12-30 21:09] Zimbo1786 commented on #137
Hi @npruehs,

No worries, happy to help out with the explanation.

Makes sense with the cycling of sounds!

[2020-12-30 21:10] Zimbo1786 commented on #135
Closing so as to keep it around for anyone with similar issues can see and resolve.

[2020-12-30 21:10] #135 closed, assigned to nobody

[2021-01-04 17:17] #137 closed, assigned to nobody

[2021-01-06 10:37] coolyoshi commented on #142
@IkoLogs

Interestingly, the ue4-orders-abilities repository has a lot of useful code and seems more up to date than this repo. I actually ended up merging that code with this one.

One way of extending it seems to be separating each order into it's own tree. Can check out an example on line 80 of this file: https://github.com/DaedalicEntertainment/ue4-orders-abilities/blob/develop/Source/OrdersAb

[2021-01-06 10:53] coolyoshi opened #145 "Discord?"
@npruehs

Just wondering if you might be interested in setting up a discord server? I'm finding the main ue4 discord server too generic and sometimes it's hard to get help with so many other people asking questions. Feel like it would be cool to create one specifically for Unreal RTS development. I could help set it up if needed as well

[2021-01-06 11:37] aqua-pro commented on #145
I'd love a discord!

However, I don't think everything should be done in discord. Many of the solutions presented in tickets have been useful to me, and I feel like discord's information is temporal. So I think we should regularly update the wiki as well 😄

[2021-01-06 12:09] coolyoshi commented on #145
Well I think discord does have a pretty decent search feature, but I agree that we shouldn't just solely depend on discord

[2021-01-06 17:43] npruehs commented on #142
Actually, for A Year Of Rain, we ended up blueprint'ing all orders, and assigning Behavior Tree references in these (data-only) blueprints. Then, our player controllers referenced these order blueprints instead of the pure code versions. Hope that helps!

[2021-01-11 20:31] Zimbo1786 opened #146 "Question around current Order System and Ability Order System"
Hi @npruehs,

I was looking at the ability system (with the order system) you shared from the GDC presentation and was also looking at the order system for the RTS plugin. Looking at the earlier releases, you had a similar code layout in the plugin but looking at the latest release it has changed quite a bit.

I was just wondering around the reasoning? Is it to make the order system more generalis

[2021-01-12 21:45] npruehs commented on #146
Hey @Zimbo1786,

yes, I've learned quite a bit myself making the plugin (and creating A Year Of Rain with it). Somehow, I felt the urge to apply all my learnings, and some of them were quite fundamental, as you've noticed:

- renaming the plugin to match other Unreal Engine plugin names
- using subfolders by feature
- merging back features, bugfixes and performance optimizations from A Year Of Rai

[2021-01-18 11:05] coolyoshi commented on #142
@npruehs
I'm not sure if I might've misunderstood, but what was the reasoning behind shifting to blueprints? I got to a point where I was wondering how I would manage all these individual behavior trees and that got me contemplating whether I should utilize the "RTSOrderHelper.cpp" found here: https://github.com/DaedalicEntertainment/ue4-orders-abilities/blob/develop/Source/OrdersAbilities/Private

[2021-01-19 22:25] npruehs commented on #142
Not sure whether I understand your approach :)
We needed some way of linking the orders to their respective behavior trees. We didn't like FObjectFinder, because it introduces a runtime dependency on the behavior tree that the engine doesn't know anything about - it doesn't show up in Reference Viewer, isn't automatically included in builds etc.
So we opted for blueprint'ing the orders, allowing u

[2021-01-19 23:02] coolyoshi commented on #142
Ah I see, makes sense! I didn't really consider those downsides of FObjectFinder.

When you mention opting for blueprinting the orders, does that mean you ended up not using files such as "RTSOrderHelper.cpp" and transferred that logic to blueprints? Or you just blueprinted the part of code that provides references to the behavior trees?

[2021-01-20 16:41] npruehs commented on #142
Just the latter :) The blueprints were mere data blueprints, with references to the behavior tree assets. All logic was still part of UI widget blueprints, behavior trees and C++ code.

[2021-01-21 02:02] coolyoshi commented on #142
Okay awesome thanks!

[2021-01-21 08:48] coolyoshi opened #147 "Any tips for reducing bandwidth? And what bandwidth are you guys getting?"
I know this might not be related specifically to this plugin, but I just tested out having around 25 units attacking the same character (with GAS) and it seems that alone makes the bandwidth well exceed ue4's limit of 10kb/second. Actually I'm hitting 36KB/s for one player connected with one server (had to increase the limit). What kind of bandwidths are you guys getting?

I'm not sure if I'm read

[2021-01-21 17:46] npruehs commented on #147
Have you taken a quick look at my talk from Unreal Fest Europe?

https://www.youtube.com/watch?v=VusAHXoHF3Y

Still not sure about actually recommending ReplicationGraph; but everything else we learned about our first steps in optimizing networking is in there.

[2021-01-22 01:56] coolyoshi commented on #147
I had that presentation bookmarked actually. Finally watched it and wow this is amazing. If replication graph blocks replication for non visible actors that would be game changing. I'll probably go for it at some point. Also I would've never known about that boolean for reducing the size of tags. Great presentation, thanks!

[2021-01-23 05:16] Zimbo1786 commented on #146
Thanks @npruehs for the explanation and that we could benefit from your learnings. Much appreciated!

[2021-01-24 01:25] Zimbo1786 opened #148 "Fog of War"
Hi @npruehs ,

Not sure if a bug or if there is something I am missing, but have been looking into the Fog of War and there are two things I have noticed:
1. Even if the Fog of War state is set to "Unknown", I can hover over the enemy team and can see where buildings and units are as the hover effects (like health) pop up through the fog as shown below:

![image](https://user-images.githubusercont

[2021-01-25 09:36] coolyoshi commented on #148
For issue #1, does it happen every time? I noticed similar issue but only happens sometimes for me.

[2021-01-25 11:07] Zimbo1786 commented on #146
Hi @npruehs,

I was also looking through and noticed that through the abilities system, the orders (attack, move etc.) had their own behaviour tree as opposed to this plugin that has just one behaviour tree. I was wondering if there was any particular reason - is the plugin's single behaviour tree a placeholder or an optimisation compared to the abilities system or does the abilities system indivi

[2021-01-25 11:13] Zimbo1786 commented on #148
Hi @coolyoshi,

Every time for me. I have also tested where I don't hover over, but press the "Alt" button (which is the hotkey I have set to show the healthbars) and the enemy healthbars appear even in the "Visible_Unknown" state.

[2021-01-26 19:45] DomDom3333 opened #149 "Character only moving a small amount before getting stuck"
Hey, I don't know if this is the right place for this but I'm having issues making characters move properly. I have one moving but it only moves a few centimeters and the stops and doesn't move again. It seems to always be in the same direction as well. I followed the documentation word for word but since I'm a bit new to Unreal, I suspect that I did something wrong.

Thanks for any help.

[2021-01-26 19:57] Zimbo1786 commented on #149
Hi @DomDom3333,

With your map, have you added a NavMeshBoundsVolume and if so, have you adjusted the Brush settings (it defaults to 200, 200, 200 on the X, Y and Z-axes)?

[2021-01-26 21:50] DomDom3333 commented on #149
Yup. Just testing things on a flat test map and everything is green when i press P, with small cutouts around each thing place, like its meant to be.

[2021-01-27 08:35] coolyoshi commented on #149
When setting up gameplay tags, did you import the file DT_RTSGameplayTags? (you shouldn't create a new tag called "DT_RTSGameplayTags", but should import the actual file)

[2021-01-27 21:07] DomDom3333 commented on #149
No i believe i just created them in the project settings. Where is the file i need to import? How do add the file? It only has a name field.
![image](https://user-images.githubusercontent.com/9084590/106054282-14a77800-60ec-11eb-9cfb-60a0f5d10cc4.png)

[2021-01-28 04:11] coolyoshi commented on #149
In the content browser, there's a tiny button called "View Options". Click that and hit "Show Plugin Content".
Then you'll see the file is in "RealTimeStrategy Content"->"Data" folder.

For adding the file, should be an option under "Gameplay Tag Table List". Might need to add a new list item by clicking the + button.

[2021-01-28 10:29] DomDom3333 commented on #149
Alright, I've done that. It added successfully.
![image](https://user-images.githubusercontent.com/9084590/106125160-190b7980-615c-11eb-810c-b89be668f48e.png)

However the problem is still present. the unit moves a small amount and then gets stuck there. The Fog of war and everything updates but the unit just stops there. Always in the same pattern as well, regardless of where I send it to.

[2021-01-28 10:44] Zimbo1786 commented on #149
Hi @DomDom3333,

With the blackboard or behaviour tree, have you made any modifications?

[2021-01-28 10:54] DomDom3333 commented on #149
None whatsoever. I just followed the Step by step guide up to the Units. Basically everything to make a Unit move afaik.

[2021-01-28 14:24] coolyoshi commented on #149
When orders are issued, it actually issues an order on the first actor hit. I suspect maybe it's hitting either the minimap or vision volume? To fix it you can update the code to ignore those volumes by doing the following:

In RTSPlayerController add the following lines near the top:
#include "UI/RTSMinimapVolume.h"
#include "Vision/RTSVisionVolume.h"

Then find this line: "DefaultOrderIgnoreTarg

[2021-01-29 16:21] DomDom3333 commented on #149
@coolyoshi As im still pretty new in Unreal, im using blueprint mode. Is there a way to do it using Blueprints too or does that only work in the C++ projects?

[2021-01-29 16:24] DomDom3333 commented on #149
Update:
So I just booted the project file and it works. Didn't change a thing. No idea why it didn't work before. Its now moving normal but only ~90% of the distance. There's always a little left to go. Any reason why it would do that?

Edit: And the model seems to glitch out for a single frame at the start of the movement. Have no image to verify but it looks like the model distorts wildly. Since

[2021-01-29 19:30] Zimbo1786 commented on #149
Hi @DomDom3333,

On the update (Point 1): This looks to me like your settings on your NavMeshVolume - can you increase the box settings on this and see what it does?

On Edit 1 (Point 2): Not sure about that - may be linked to an earlier open case about moving the unit.

On Edit 2 (Point 3): This looks like the settings in the RTSMinimapVolume and RTSVisionVolume. I have mine set to be slightly la

[2021-02-02 19:45] DomDom3333 commented on #149
Hey @Zimbo1786
Thanks a lot for the suggestions.

The Unit not moving the entire distance is still present after increasing the NavMeshBoundsVolume

The moving of the unit to the edge of the fog of war is resuced a lot by increasing the size of the Minimap volume and the Vision Volume. It doesnt't remove the issue though.

[2021-02-03 17:13] npruehs commented on #58
Yeah, sounds about right :)

[2021-02-03 17:14] npruehs commented on #123
I'm closing this now, for tracking purposes. Feel free to re-open in case you've got any follow-up questions!

[2021-02-03 17:14] #123 closed, assigned to npruehs

[2021-02-03 17:15] npruehs commented on #129
I'm closing this now, for tracking purposes. Feel free to re-open in case you've got any follow-up questions!

[2021-02-03 17:15] #129 closed, assigned to npruehs

[2021-02-03 17:15] npruehs commented on #136
I'm closing this now, for tracking purposes. Feel free to re-open in case you've got any follow-up questions!

[2021-02-03 17:16] npruehs commented on #138
I'm closing this now, for tracking purposes. Feel free to re-open in case you've got any follow-up questions!

[2021-02-03 17:16] #138 closed, assigned to nobody

[2021-02-03 17:23] npruehs commented on #124
Thanks for bringing this up! I think there's enough emphasis on the gameplay tags setup, but I'm still glad you found the issue.

Your movement issues seem similar to the ones mentioned in #149, so we could continue the discussion there.

I'm closing this now, for tracking purposes. Feel free to re-open in case you've got any follow-up questions!

[2021-02-03 17:23] #124 closed, assigned to nobody

[2021-02-03 17:23] npruehs commented on #142
I'm closing this now, for tracking purposes. Feel free to re-open in case you've got any follow-up questions!

[2021-02-03 17:23] #142 closed, assigned to nobody

[2021-02-03 17:24] npruehs commented on #145
I believe @coolyoshi set up a Discord, so feel free to ask him to invite you :)

I'm closing this now, for tracking purposes. Feel free to re-open in case you've got any follow-up questions!

[2021-02-03 17:24] #145 closed, assigned to nobody

[2021-02-03 17:25] npruehs commented on #146
Strange. I could swear I had answered this one already.

Yes, in fact, the abilities system individual behaviour trees offer more flexibility. More specifically, they allow you to add additional orders to the game, which could be basically anything (for A Year Of Rain, we had "Pick Up Item", for instance).

[2021-02-03 17:26] npruehs commented on #147
Thanks for the nice words :) The comments below the video itself were "okayish" at best. Welcome to the internet!

[2021-02-03 17:29] npruehs commented on #149
Units not moving the entire distance could happen due to the "Acceptance Radius" that's specified for the MoveTo nodes in the behavior tree. This is required for preventing units from trying to reach their destination indefinitely, especially when ordering multiple units (with collision) to move the same location. Unfortunately, that's a pretty hard problem to solve, as we learned the hard way wit

[2021-02-03 17:32] npruehs commented on #148
I'm looking into this right now. Can you share a few details about your setup, e.g. standalone, listen or dedicated server?

[2021-02-03 19:47] Zimbo1786 commented on #148
Hi @npruehs,

Thanks for replying - I am on a standalone setup.
![image](https://user-images.githubusercontent.com/62784462/106800631-cfb7ae80-66b4-11eb-9027-1d1938c306ec.png)

[2021-02-04 08:25] Zimbo1786 commented on #146
Hi @npruehs,

Thanks for the reply - yes you have. Apologies - it may have been how I phrased the original question which was more geared to the overall order/ability system as opposed to the individual behaviour trees. Thanks for the response though.

[2021-02-04 08:25] #146 closed, assigned to nobody

[2021-02-04 22:28] npruehs commented on #148
Hey @Zimbo1786,

thanks again for bringing this up. As for your first issue, there were two bugs in the plugin, actually. I've fixed these in 01b1dfe51e73a41fdc04c0f320ce796a2aa4f9f8 and 1fc4dfe48826b51acca87ab2c36e2d003c8da584.

As for your second issue, can you confirm you've unchecked "Don't Hide After Seen" in the RTSVisible component of your characters?

![image](https://user-images.githubuse

[2021-02-05 08:14] Zimbo1786 commented on #148
Hi @npruehs,

No worries - thanks for addressing so quickly. With the commits, I can confirm that not only are the healthbars not showing (either through hovering or through the "Alt" keyboard button, but the character is now hidden when it is "Known".
The building has the "Don't Hide after seen" checkbox ticked and still remains in view with the "Known" fog, but the character does not have the ch

[2021-02-05 15:42] #149 closed, assigned to nobody

[2021-02-05 16:20] npruehs commented on #148
I've fixed the selection effects in ed03fce7f6a242eb7021162b3a1a27c9d91cf15f.

I think whether or not to show hover effects for partially visible units is debatable. For instance, in games like StarCraft II, you'd probably still want to show a rotating dashed circle around hovered mineral patches in fog of war.

[2021-02-05 19:03] Zimbo1786 commented on #148
Hi @npruehs,

Agree that it should be an optional thing as some games use it and others don’t. Thanks for fixing so quickly and showing the commit.

I’ll close this off and others can reference if needed.

[2021-02-05 19:03] #148 closed, assigned to npruehs

[2021-02-15 13:52] coolyoshi commented on #146
@npruehs
Thanks to your help I was able to solve my issue where spamming move order would cause unit to stutter by avoiding restarting the behavior tree if calling the same order repeatedly.  But I'm still noticing some stutter when switching between different behavior trees (e.g. switching from move order to attack order). I'm guessing this stutter is also caused by starting up behavior trees. Do

[2021-02-15 22:25] npruehs commented on #146
None that I'm aware of :/ But feel free to share any insights you're able to gain! :)

[2021-02-16 05:32] coolyoshi commented on #146
I see thanks! Sure if I can find out anything i'll post it here

[2021-02-16 07:37] coolyoshi commented on #146
Hmm turns out for my case the stuttering was caused by the AI calling "Finish Execute" between separate move tasks. This answer kind of explains it a bit more: https://answers.unrealengine.com/questions/557677/ai-character-stopspauses-after-move-to-node.html.

Not sure if this is the best solution but I fixed my stuttering by replacing the AI Move To node with a custom move task. Inside the task I

[2021-02-16 19:13] npruehs commented on #146
Interesting.

Make sure you handle failed MoveTo properly (e.g. no path found). Once, we had an issue where units had infinite range when you ordered them to attack a target that was unreachable (e.g. on the other side of a cliff). Our "move into range" node failed, but that wasn't handled properly and the unit happily attacked the target anyway :)

[2021-02-17 04:04] coolyoshi commented on #146
Wow that's a crazy bug lol. Anyways good point, I'll have to add in some handling for when it actually fails

[2021-03-18 02:24] Andrene opened #151 "Question regarding movement"
This may be a stupid question, but I started up a new project and did the setup, and tried creating a unit and testing movement. Some questions:
1. For some reason when my unit is spawned by the RTSPlayerStart(my own subclass version) the unit selects just fine but cant move.
2. When I manually create a unit and set its owner component to be owned by index 0(what I'm pretty sure is me) it doesnt l

[2021-03-22 15:09] coolyoshi commented on #151
Hey there, it's not a dumb question. Also ran into the same issue at the start.

First thing I would double check for is if you setup the tags correctly. Make sure to import the tags file "DT_RTSGameplayTags". Note that isn't the name of a new tag but an actual file you need to import.

Secondly using a landscape is totally okay. If the above doesn't fix the issue, I would also check if you have a

[2021-03-22 16:18] Andrene commented on #151
Looks like there was a few of the left over starter actors left over which were causing the issues, so I can move the pre-placed pawn now, although I can't move my spawned pawn yet, not sure exactly whats causing that yet, but It's likely a simple error on my part.

[2021-03-22 16:54] coolyoshi commented on #151
I see good to know you got it working! Not too sure either about the spawned pawn issue, but yeah it's probably something small.

[2021-03-22 17:33] npruehs commented on #151
Glad you've been able to each other! :) Does your pawn have its AI Controller set to possess on both pre-placed & spawned?

[2021-03-22 20:59] Andrene commented on #151
Ah, yep that was it, Auto Possess AI was set to placed in world, changed it to both and alls good. Must've missed that when I was setting up the pawn :p Thanks!

[2021-03-22 20:59] #151 closed, assigned to nobody

[2021-03-23 23:04] Fundati opened #152 "Version 1.2.0 in 4.24.1 states its not compatible and does not load"
I tried importing this plugin into a project in 4.24.1 and the message says:
'The RealTimeStrategy plugin was designed for build 4.25.0. Attempt to load it anyway?'

I click yes, and then it says:
'RealTimeStrategy plugin was built with a different engine version, would you like to rebuild it now?'

I click yes (I'm new to this, not sure if I should or not), it says:
'[Name of project] could not b

[2021-03-25 22:45] coolyoshi commented on #152
It seems it's been updated to 4.26 last month. Also if it says rebuild from source, you can open up the .sln file in visual studio and compile it there.

[2021-04-09 02:38] Andrene opened #153 "Strange issue with Attack/Attack range"
I have a unit who has an attack with a range of 150 and no defined projectile, so it just deals instantly.
If the target for the unit is out of range the unit runs to a random(seemingly) side of the target, and attacks it from point blank(melee),
If the target is in range it attacks it like normal(from a distance, not caring what side its facing)

If I double click a unit it also moves towards it

[2021-04-14 19:34] ScanTpede opened #154 "Missing details in manual - Relationship.Visible"
Hi, it is me again.
I am here to report missing important description on the manual. Tag Relationship.Visible has to be added to make characters attack each other and it is not mentioned in the manual. It may be intuitive and common sense, but I suffered 2 days trying to find why my characters are not fighting each other. Or it is just me being dumb. Could you add them on the manual to prevent fut

[2021-04-14 22:59] Andrene commented on #154
Uhhh, did you not add the RTSVisible component to the unit? I believe that handles the Visible gameplay tag.

[2021-04-17 10:55] ScanTpede commented on #154
I already solved the case. It is just a suggestion. Or do you mean Relationship.Visible tag adds automatically if I add RTSVisible component?

[2021-04-20 13:51] DertyMunky opened #156 "Team switching with units pre-placed in world"
I have 2 player starts with team index 0 and 1. A vehicle spawns next to its headquarters when the game starts, but if the server spawns on team index 1, then the headquarters are on the wrong teams. I've set the headquarters owner->team index to the corresponding player start team index, but either the player start or the headquarters is changing its associated team. Everything works as expected

[2021-04-20 16:18] npruehs commented on #156
Hey @DertyMunke!

Can you share a few more details about your setup?

* Is your headquarters pre-placed in the level?
* How do you spawn your vehicle?

[2021-04-20 22:10] DertyMunky commented on #156
Hello @npruehs,

I used your example project to start with. I removed the AI player, moved
the Player Start's farther away from each other, and placed a building in
the scene for each player, next to the Player Starts, near where the unit
spawns. I set the buildings to "CONSTRUCTIONSTATE Finished" and I set
Unreal to 2 players and "Play as Listen Server." It works correctly when
the server is play

[2021-04-25 19:06] npruehs commented on #156
Hey @DertyMunke!

Sorry, I'm afraid properly assigning pre-placed units to players isn't implemented yet - or, more specifically: Assigning fixed _player starts to players_ isn't implemented yet. While you can specify which units should be owned by which player, there's currently no way of telling a player to always spawn at a specific player start.

We had some solution in place for A Year Of Rai

[2021-04-27 15:57] DertyMunky commented on #156
Hey @npruehs,

I thought setting the "Team Index" of the "Player Start" to the same number as the "Initial Owner Player Index" of the unit placed in scene would make the unit on the same team as that "Player Start." I just need the unit to be spawned on the left of one player start and to the right of the other for symmetry and fairness to the players. Do you have any suggestions on how to achieve

[2021-04-27 21:18] npruehs commented on #156
Team index and player index are two different things. Depending on your game, you might create a 2v2 game mode for instance, with player index [0..3] and just team index 0 and 1 available.

With being able to assign player owners to pre-placed units through setting the InitialOwnerPlayerIndex of your RTSOwnerComponents, the key is just to make sure that the player with the correct index spawns at

[2021-05-03 07:56] #154 closed, assigned to nobody

[2021-05-18 20:42] JaredP94 opened #157 "Strange line of sight behaviour"
Hi @npruehs!

Been a little while, hope you're well :)

I've been attempting to implement the complete fog of war functionality, with the last step being the line of sight feature. On the demo project, it works as expected, but I'm seeing fairly unreliable line of sight behaviour within my project (video attached below).

I've played around with the _Level Height_ setting of the vision volume but

[2021-05-21 00:14] coolyoshi opened #158 "Possible Fog of War Bug"
Not sure if it's just me but player 1 sometimes can't initialize fog of war properly.
The screen might go entirely black, or partially black (covered partially by fog), but when it breaks the result is always that fog just doesn't work.

[2021-05-25 21:44] npruehs commented on #157
Hey @JaredP94!

Sorry for the late reply. I assume that your actors don't have "Ignores Height Levels" checked on their RTSVisionComponent.

Assuming that's not the case, the plugin will compare the height level of the tile being looked at to the height level of the moving actor. These tile heights in turn are cached when the game starts (ARTSVisionVolume::Initialize) for performance reasons, so m

[2021-05-31 18:12] JaredP94 commented on #157
Hi @npruehs,

Appreciate the detailed feedback!

**> I assume that your actors don't have "Ignores Height Levels" checked on their RTSVisionComponent.**
That is correct.

**>so my next question would be whether your level geometry (vision obstacles) are in place from the very beginning, or not.**
All objects in question are static and placed in the level prior to startup.

**> so you'd want to che

[2021-06-04 01:49] coolyoshi opened #159 "Optimizing Anim BPs"
Actually nvm

[2021-06-05 21:40] npruehs commented on #157
"objects of equal height seem to exhibit completely different vision blocking"

Technically, this _could_ happen if you're you're not using enough tiles, i.e. we use too few rays to properly sample the heights everywhere.

"some objects seem to block vision from one direction, but not from the other"

This however is hard to explain and sounds more like a bug to me...

Hard to tell without having

[2021-06-05 23:18] npruehs commented on #158
Hey @coolyoshi, have you been able to solve this?

[2021-06-05 23:19] npruehs commented on #159
Hey @coolyoshi, have you been able to solve this?

[2021-06-06 00:33] coolyoshi commented on #159
Hey Nick, might have a solution which I verified correctly turns off anim BPs on client. However I think I might need to setup my server before I can verify if I got any performance gains.

In RTSVisionManager.cpp Tick

Before the loop:
[code]

In the loop (Updated):
[code]

[2021-06-06 00:35] coolyoshi commented on #158
I think this bug might pop up if the gamestate has too much setup logic/too slow. Did a workaround by initializing vision after a delay once all players are loaded in. It's not a proper solution though.

[2021-06-13 18:58] JaredP94 commented on #157
**> Technically, this could happen if you're you're not using enough tiles, i.e. we use too few rays to properly sample the heights everywhere.**
I have experimented with an increased number of tiles, but it did not appear to yield any better behaviour. Interestingly, I did notice that bumping up the tile size seemed to hurt the minimap rendering (but I'll comment further on that when I test furth

[2021-06-16 18:42] npruehs commented on #157
Sure, whatever works for you. I've got UE5 installed as well :)

[2021-06-17 23:42] coolyoshi commented on #159
Character movement component tick can also be turned off when unit isn't in viewport. In order to make it work properly also need to set NetworkSmoothingMode to disabled and re-enable it when unit goes back into viewport. Not sure if this is the best way for optimization but it does seem to work.

[2021-06-21 04:54] coolyoshi commented on #159
@npruehs followed your guide on replication graph and it seems to work well! Just wondering if you might know a way the client can tell the server to reduce the NetUpdateFrequency for a particular actor, and reduce the NetUpdateFrequency for only one player without affecting other players? I'm trying to find ways to optimize bandwidth usage for actors that are outside the client's viewport but sti

[2021-06-21 18:43] JaredP94 commented on #157
Nice, that should work out the box then!

Don't mind the current state of things, seems upgrading to UE5 has broken quite a few things in our project, most notably around animation. Guess it's time to hop over to control rig once and for all :)

I have added you as a collaborator, please shout if you have any issues getting everything to build and run :)

[2021-06-23 06:51] coolyoshi commented on #159
Nvm I heard it's not possible so ended up setting netupdate frequency to 0.00001 for all units and using ForceNetUpdate calls

Update: Closing issue because these methods haven't been fully tested. Don't want to mislead people just incase.

[2021-06-24 20:22] RM6SS62 opened #160 "'Actor': is not a member of 'FHitResult' when trying to compile in UE5EA"
I get a bunch of these:

[code]

[2021-06-24 22:47] DEV7163 commented on #160
Shouldn't you have different releases for 4.26 and 5EA?

[2021-06-25 11:31] npruehs commented on #160
There isn't a release for UE5 yet. Please refer to https://github.com/npruehs/ue4-rts/tree/feature/ue5 for the current plugin version for UE5EA.

[2021-06-25 13:56] RM6SS62 commented on #160
Thank you, and sorry to bother you again but I'm confused.
At https://github.com/npruehs/ue4-rts/tree/feature/ue5 there is a download link that just point to the 4.25 releases.
I'm unable to see where to get the plugin files for UE5A.

[2021-06-25 20:49] #160 closed, assigned to npruehs

[2021-06-26 21:47] NovanMK2 opened #161 "Overlap on multi unit move order"
When I issue a move order to multiple units they all overlap with no collision. Is there a way to have them get close to each other with overlapping?

[2021-06-27 15:27] NovanMK2 commented on #161
Here is a couple screenshots of what I mean
![HighresScreenshot00002](https://user-images.githubusercontent.com/14082958/123550221-96064380-d73a-11eb-9019-1ec01fa2a0cc.png)
![HighresScreenshot00003](https://user-images.githubusercontent.com/14082958/123550222-969eda00-d73a-11eb-9942-52d36ae7ed0e.png)

[2021-06-29 16:55] NovanMK2 commented on #161
I was able to solve the issue by changing the base class of my unit from pawn with the RTS movement component to Character with a Character Movement Component.

[2021-06-29 16:55] #161 closed, assigned to nobody

[2021-07-04 19:35] #159 closed, assigned to nobody

[2021-07-11 17:56] LegendsofBarcraft opened #162 "Still cant open the project...."
Hey everybody,

I´d like to take a look at the project, but unfortunately, I cant. When I add the project to the plugins folder, I get the following messages. Please, could you help me out? Its been quite some time and I cant get it to work. I´ve tried searching for the .sln file, but couldnt find it.

https://imgur.com/a/Asn3dOc

[2021-07-11 22:12] npruehs commented on #162
Hey @Blacksage-beep,

which version of Unreal Engine are you using (4.25, 4.26, 5)? Are you using the Epic Games Launcher version, or are you compiling from source? Do you have Visual Studio installed? And finally, are you using the source version of the RTS plugin (and if so, from which branch), or are you using one of the releases?

Best regards,
Nick

[2021-07-11 23:18] LegendsofBarcraft commented on #162
Hi Nick!

Thanks for the swift reply.

I tried it using 5.0, it didnt let me use it. With 4.25, it loads the plugin normally, but I cant access any content it seems. Maybe I just do not have it set up properly. I am running it from the Epic Games Launcher. I do have Visual Studio installed yes. I do not think I am using source version of the RTS plugin or at least I am not aware of it. I downloade

[2021-07-12 14:15] LegendsofBarcraft commented on #162
Also, I forgot to add - in 4.25 "CanContainContent" is enabled, but I cant see the content. UPDATE: Nevermind! Got this one, can see the content now. The other problems still stand unfortunately.

[2021-07-13 15:03] npruehs commented on #162
There's no release supporting Unreal Engine 5 yet - you'd have to use the source version of the plugin. I'm glad that you're able to open the project now, and see the content.

Which other problems are you referring to?

[2021-07-13 15:47] LegendsofBarcraft commented on #162
Hi Nik! I´ll look into the source code then. Awesome work by the way :)

[2021-07-21 19:46] LegendsofBarcraft commented on #158
Im having the same issue. What was your exact solution Coolyoshi if I may ask?

[2021-07-22 00:44] PabloMonfort opened #163 "Cant move my players"
hi there, nice work , i believe this is great but the only thing i need to figure out why is not moving my units, i have follow all but now i cant figure out why is not moving, after select and move a unit in the black board its show up thats its calling to move order but the guy dosnt move and i cant understand why, i add all so far but cant seems the reason of that dosnt work, navmesh its ok, pl

[2021-07-22 23:24] coolyoshi commented on #158
I wouldn't call it a solution but I just wait till all players loaded into game. Then after that I spawn the actors into the game after a 7 second delay. Basically that delay allows enough time to set everything up and avoid fog issues I guess

[2021-07-23 09:09] LegendsofBarcraft commented on #163
Hi there Pablito, did you put them on the map? If so, make sure you get the player index right in the player start on the map cause its set to 255.

[2021-07-23 09:09] LegendsofBarcraft commented on #158
Hmmm interesting, and you add the delay into the gamestate?

[2021-07-23 16:17] PabloMonfort commented on #163
well actually they spawn with the start blueprints, but i tought that player index for player was 0? like isnt like the team? team 0 = player team 1 = ai? i get confusse about this , they spawn and i can select them but i believe they are wrong for some reason they dont move. :*( where i have to set this 255? can you give me a more in deep explaination ? thanks.

[2021-07-23 16:22] LegendsofBarcraft commented on #163
Im actually trying to replicate your issue right now and there are two possible explanations: You either did not set up the RTSowner component properly or your navmesh is blocked by something. You set up the RTSOwner component by clicking on the actor and setting it up in the RTSOwner component

[2021-07-23 16:45] PabloMonfort commented on #163
do you have discord? so i can screen share to you? i actually check about navmesh and navmesh its ok its full green, unit character dosnt have collision only on capsule component, and it has RTSOwner component too, what particular setting need to be add on RTSOwner? i have check the demo and honestly i cant see where the problem is.

It has rtsowner but what special configurations that components

[2021-07-23 16:46] Blacksage-beep commented on #163
I do have discord, hmu Blacksage#3777

[2021-07-23 18:00] LegendsofBarcraft commented on #163
I was able to replicate the issue Pablo has and was not able to solve it. It looks like the MoveTo from Behaviour does nothing yet gets called?

[2021-07-24 03:58] PabloMonfort opened #164 "Different Stances for Max Speed movement (Feature request)"
hi there, i would like to know if its possible to make players move in different stances like, prone should force infantry soldiers on my game to be slow, walking should go 200 speed and running should be 400. anyone can give me a hint on this if can be archieved or have a clue if its even possible? thanks.

Brw im new into unreal, i see there are some C++ in backend for movement right? would be n

[2021-07-24 04:39] PabloMonfort commented on #164
i think i figure out the problem so never mind, i see some blackboard tutorials and stuff i think its good now and i figure out from animation blueprint to deal with speed using get velocity and vector length ;)

[2021-07-24 04:39] PabloMonfort commented on #164
i think i figure out the problem so never mind, i see some blackboard tutorials and stuff i think its good now and i figure out from animation blueprint to deal with speed using get velocity and vector length ;)

[2021-07-24 04:39] #164 closed, assigned to nobody

[2021-07-24 06:22] coolyoshi commented on #158
Yeah. Actually I'm not really sure if it fixes it 100%, just seems to improve it alot atleast for me.

[2021-07-24 06:29] coolyoshi commented on #163
Did you add DT_RTSGameplayTags? Note you shouldn't add a new tag called "DT_RTSGameplayTags" but import the file called "DT_RTSGameplayTags".

Also I remember other people have had the same issue in the past so there might be some helpful info in the closed issues

[2021-07-24 11:59] #162 closed, assigned to npruehs

[2021-07-31 18:10] npruehs commented on #164
There should also be similar settings in the CharacterMovementComponent.

[2021-08-04 12:06] JetBro22 opened #165 "Support engine versions 4.26 and 4.27"
Hi. I installed plugin to "Plugin" folders of Engine and keep getting error "The following modules are missing or built with a different engine version". Plugins are enabled for project and plugin appears on editor, but when I enable plugin itself and restart editor I keep getting this error that plugin was built for 4.25.0 version. Updating and changing source files and plugin files doesn't help.

[2021-08-04 13:58] JetBro22 opened #166 ""Couldn't find part of path to [path to object]" when trying to build plugin manually"
Hi. I am trying to build plugin from ZIP files but keep getting errors, as it turns out there is no content (files, scripts) what compiler needs to build plugin. Examples:

All paths are the same and should lead to the same object but the object does not exist for some reason.

      Couldn't find part of path to "path to asset/script", later:
Failed to copy "path to asset/script" to "path leading

[2021-08-05 15:20] PabloMonfort opened #167 "Issue around building placement"
Its seems the building placement its only for sphere shape buildings ?
I try to switch the sphere for a box collider and dosnt work, the tile  height and width it works really weird for me, and i dont know how to tweak this part and i really wish to fix something around this but dont know how this works, can anyone give me some hint on how this works i mean i dont want to use the grid tile but som

[2021-08-05 15:22] PabloMonfort opened #168 "Bug on building feature"
There is a bug to me would be nice if you people tell me if have same bug, try to press build any building then before you put the construction on map go back to the ui and press building and there would be a duplicated transparent building shape that is not cleaning right and i dont know where this object comes from? i really wish to know more about that building transparent and the logic around

[2021-08-11 13:06] LegendsofBarcraft commented on #57
Im having a similar issue when you have an actor on a landscape and issue a MoveTo order. The unit does not react, BUT if you do a construction order the unit reacts. I´ve got navmesh built nicely etc... Any ideas? Its working fine on the Plane in the starter project in regards to movement so its weird

[2021-08-11 13:22] LegendsofBarcraft opened #169 "MoveTo order does not react, but order to build a building does."
I´ve run into this peculiar issue -> units seems to be moving fine on a plane, but if you put in a landscape, the MoveTo orders stop working for some odd reason.

I have tags set up correctly, everything is correct. It has to be some landscape issue since I used the test project as well to see if I can replicate the bug.

If you open the project, replace the plane with a landscape, you will be abl

[2021-08-11 13:24] LegendsofBarcraft commented on #166
Hi Elsa!

How are you doing? I encountered similar issues even though not the same issue.., here´s how my limited knowledge can be of help:

Make sure you have Visual Studio installed THEN compile it from source. Try to compile it from source.

[2021-08-11 13:26] LegendsofBarcraft commented on #165
There is no build for 4.26 as I am aware Elsa.

You´ll have to either stick to 4.25 or try the plugin in 5.0. The sample project runs on 4.25.

Make sure you downloaded Visual Studio and try to compile it from source. Please note that when you compile the 5.0 version, the code will run some error. The error issue was raised in the closed issues.

[2021-08-11 18:43] PabloMonfort opened #170 "Issue Move Order weird behaviour on AI behaviour tree?"
Please any hint to fix this?

i have made a custom task for replace MoveTo task due I want to fix the final position getting a raius random position, anyways, if I just add the task that's I believe same as MoveTo , but since MoveTo its kind default and don't let me see into it, I have made this task that's similar to the other issue move orders, the point is that in the IssueMoveOrder on behaviou

[2021-08-11 18:58] PabloMonfort commented on #170
I just want to say that , i have try to add this and I'm trying still to find the solution for add this.

![image](https://user-images.githubusercontent.com/30636592/129086507-9e01c413-5fcd-400b-9e83-6a06ebb058be.png)

but the result is not good
Result vid 1
https://gyazo.com/cad88e6ab1f023c577dd60ac379766e1
Result vid 2
https://gyazo.com/56d28ce638c7ed18ec1cc9331bd970ac
 anyone would be too gentl

[2021-08-13 04:15] coolyoshi commented on #169
That's strange, it should work with landscape. Do you have the latest code? I added a quick fix for one of the causes of movement issues here: https://github.com/npruehs/ue4-rts/commit/1df4991c6ec762110291a0f2d8f9eb4880928139

[2021-08-13 04:48] coolyoshi commented on #170
You might need to find some way to separate out the move order logic and pull it out of the loop in the behavior tree to solve the repeating. The loop you have to get it out of is that green block in the behavior tree. I know one way is to have one behavior tree for each order but that's gonna take a lot of rewiring.

And for the units all moving to one place, I think having the units move to rand

[2021-08-13 04:52] coolyoshi commented on #170
Ignore previous comment haha sorry

[2021-08-13 06:56] LegendsofBarcraft commented on #169
Im using the 4.25 sample project latest release. I will try to use the additions to the code which you added and see if it works

[2021-08-13 08:11] LegendsofBarcraft commented on #169
Btw: could you link the discord as well? :)

[2021-08-13 22:08] coolyoshi commented on #169
Sure here it is: https://discord.gg/y8KETu8rVM

[2021-08-14 04:52] coolyoshi commented on #169
Another thing you could try is in build menu, click "build paths"

[2021-08-14 05:57] PabloMonfort commented on #170
Any idea on how to separate the move order from the behaviour tree¿?
The problem is im not good with C++ , wish to can have more control over
the plugin with Blueprints coz i can handle blueprints very well, but c++
its very hard to me understand i think i have to take some tutorials about
this.

Thanks anyways.

El vie, 13 de ago. de 2021 a la(s) 01:48, coolyoshi (
***@***.***) escribió:

[2021-08-14 06:40] coolyoshi commented on #170
Ah sorry I'm not too sure how to do it simply or with blueprints.
The way I did it involved merging the orders plugin (https://github.com/DaedalicEntertainment/ue4-orders-abilities) with the rts plugin.
Alot of the logic in the big behavior tree can then be split / copy and pasted into separate smaller behavior trees.

[2021-08-14 19:48] LegendsofBarcraft commented on #169
The bug persists even through building paths. Does anybody experience similar issue?

[2021-08-22 11:17] JetBro22 commented on #165
Ok

[2021-08-22 13:32] JetBro22 commented on #166
Hi Blacksage
VS 2019 is installed, VC++ is installed too.
Exactly when I try to compile it from source it comes with such errors, and when I try to launch it with downloaded plugin version it says that it can't compile during runtime

[2021-08-22 13:53] LegendsofBarcraft commented on #166
Then I dont know man. It worked for me.

[2021-08-22 14:13] JetBro22 commented on #166
I'm compiling it from Command Prompt

[2021-08-22 14:23] LegendsofBarcraft commented on #166
Yeah, Im not sure. Im not such an expert. I compiled it from the VS file and it worked so I truly dont know how to help you

[2021-08-22 14:29] JetBro22 commented on #165
Can it run on 4.25.4?

[2021-08-22 14:51] LegendsofBarcraft commented on #165
yes

[2021-08-24 15:25] npruehs commented on #157
Which repo is that? I don't think I got a notification - I might have just missed it, though. Filters show nothing.

[2021-08-24 15:26] npruehs commented on #158
Can you share more details about your setup? Listen server or dedicated? Example map of the plugin or your own one?

[2021-08-24 15:29] npruehs commented on #163
Hard to tell without taking a look at this. What do you mean by "its calling to move order but the guy dosnt move" and "It looks like the MoveTo from Behaviour does nothing yet gets called" - it the behavior tree node stuck executing, or does it finish immediately?

Are other orders working, e.g. attack or construct?

Any way you can share your project for me to take a look?

[2021-08-24 15:31] LegendsofBarcraft commented on #158
Hi Nick, I just added a landscape on the example map. Pablo was trying to replicate the issue, but couldnt do it.

EDIT: Ooops, wrong thread, but still relevant I guess?

[2021-08-24 15:35] LegendsofBarcraft commented on #158
I can show it to you on the discord server :)

[2021-08-24 15:35] npruehs commented on #166
Hey @JetBro22 !
What do you mean by "compiling it from Command Prompt"?
Where did you put the plugin in your Unreal project folder structure?

[2021-08-24 15:41] npruehs commented on #167
Hey @PabloMonfort ! What do you mean by "and dosnt work"? What kind of issue do you experience with box colliders?

[2021-08-24 15:43] npruehs commented on #168
Hey @PabloMonfort !

Check ARTSPlayerController::BeginBuildingPlacement - it's probably a good idea not to spawn a new building cursor while there's still a valid one. If you got a nice, quick fix, feel free to open a pull request :)

Thanks!

[2021-08-24 15:46] npruehs commented on #152
Hey @Fundati !

Sorry for the confusion about version compatability - I need to get better in communicating which version of the plugin is compatible with which engine version. Blueprints don't make that easier.

Are you using the .zip version of the plugin (e.g. version 1.2.0) or the contents of the Git repository?

[2021-08-24 15:56] LegendsofBarcraft commented on #158
I will be there for another 5 hours cca.

[2021-08-27 02:25] PabloMonfort commented on #170
Dont worry, i just want to say that i finally succeed on have something working with blueprints and modifying a lil the behaviour tree with some custom code i have add it work perfectly now , thanks.

[2021-09-21 03:24] Capta1nAlex opened #171 "Moving issue"
I'm currently studying at 11-th grade and I ain't good enough to understand some parts of manual:
![image](https://user-images.githubusercontent.com/91106292/134105098-3241e4cd-3998-4066-8d4f-972764627c29.png)
I tried to make it with c++, but it didn't work, is there any ways to setup it with blueprints?
I already setted up camera and can select units, but I guess because of my bad C++ understandi

[2021-09-23 08:17] npruehs commented on #171
You're supposed to do that at your blueprint :)
![image](https://user-images.githubusercontent.com/757321/134475128-92e5002a-70a4-49f1-b402-f5db0ba05026.png)

[2021-09-26 11:39] JaredP94 commented on #157
Sorry for the delayed response!

I see the invitation is still pending - you should be able to access it here: https://github.com/JaredP94/Unreal-CoH

[2021-09-26 22:11] Capta1nAlex commented on #171
![image](https://user-images.githubusercontent.com/91106292/134825539-7daa117b-0bfa-4843-842c-688aed49ee9c.png)
![image](https://user-images.githubusercontent.com/91106292/134825626-8ef9dcfb-d3cc-4846-aeac-0249c7585741.png)
Created BP deriving Added these components to pawn, still not working.
![image](https://user-images.githubusercontent.com/91106292/134825663-25a48804-55ac-4dc0-a818-ff8df96e9e5

[2021-10-03 19:45] npruehs commented on #157
It says "This invitation has expired."

[2021-10-03 19:46] npruehs commented on #158
Sorry, but with a baby and two jobs, I kinda have to be able to look at these issues "spontaneously" :)

[2021-10-03 19:53] npruehs commented on #169
I can't confirm that being an issue, at least in UE5.0.

Here's what I've tried:

- Open SKM-DarkSpace.
- Remove plane.
- Add landscape.
- Confirm paths have been built.
- Observe that units can move as expected.

Initially, they didn't react to move orders - but the landscape was above the units. Make sure landscape Z is set properly, so units are above the landscape, not vice versa.

[2021-10-03 19:56] npruehs commented on #171
Are your units above ground?

[2021-10-03 20:00] LegendsofBarcraft commented on #169
Hi Nik! I eventually figured it out. The collision of other actors caused it. I had to remove ALL collision from the level and then go one by one and I figured it out :)

[2021-10-03 20:02] LegendsofBarcraft commented on #158
Haha! No worries. I understand ;)

[2021-10-08 00:53] Capta1nAlex commented on #171
No. I created unit from the TopDownCharacter template provided by UE4 and added components from the guide next to it.
![image](https://user-images.githubusercontent.com/91106292/136481466-6c2c4835-6c53-45d4-a9cb-dd3e38b4fd9d.png)

[2021-10-17 21:18] npruehs commented on #169
Thanks for the update! :)

[2021-10-17 21:18] #169 closed, assigned to npruehs

[2021-10-17 21:18] #170 closed, assigned to nobody

[2021-10-17 21:19] npruehs commented on #171
No, I mean - in contrast to "below ground" :)

[2021-10-17 21:19] npruehs commented on #170
Glad you figured it out!

[2021-10-28 20:13] SandorDezso commented on #171
I have the same issue on UE5. The Blackboard says it tries to issue an Attack order.

[2021-11-05 20:33] rauflb14 commented on #163
I had a problem with the same issue. In the AI Behavior Tree my TargetActor was the RTSMiniMapVolume and the RTSVisionVolume. I set the Collision Presets of both to NoCollision and my unit moved.

[2021-12-22 18:09] kevld opened #172 "Video tuto ?"
Hello @npruehs ,
Your plugin is very interesting and usefull, I discover it few days ago and I am testing it.
Is there an existing video which explains how to use the plugin ?
I think there is something I don't understand with AI units and AI players. My units are moving but I'm unable to make them attack other units (I double check gameplay tags but maybe I miss something)

[2021-12-23 23:21] npruehs commented on #172
Hey @kevld !

Unfortunately, a video tutorial is on my todo list, but I didn't find the time to create some yet.

Do your units belong to different players, and are these players in different teams?

[2021-12-26 20:02] kevld commented on #172
Hi @npruehs, thanks for answering me :)

Here is what I did
I created 2 player start points (inherited from RTSPlayerStart). One for p1, the second for AI (p1 in team 0, AI in team 1)
![image](https://user-images.githubusercontent.com/74151478/147418301-9b094733-fde9-4e3c-a2c3-73e31e909ab5.png)

After that in the level blueprint, i did this :
When I hit "H" key (for debug purpose of course), a uni

[2022-01-30 12:42] JaredP94 commented on #157
Hi @npruehs, sorry for the delay - life has been a bit busy :)

I've just sent a new invite!

[2022-02-09 16:54] ForgottenFrog opened #173 "Nevermind..."
Hi! I really appreciate that you've created this plugin, I've been looking for something related to RTS for a very long time!
I figured it out, sorry about this...

[2022-02-09 23:51] #173 closed, assigned to nobody

[2022-02-12 17:22] GuyPaddock opened #174 "Incomplete Installation Instructions in the Readme"
I am very excited to try this project out, but it seems like the readme has a few gaps:
1. The README says:

     and then:

    But, when you're cloning the project, the folder name is not `RealTimeStrategy` -- it's `ue4-rts` (unless you specify the name of the directory to create). Also, I noticed that the 1.2.0 release ZIP has a slightly different structure than the directory structure you get

[2022-02-12 22:05] npruehs commented on #174
Hey @GuyPaddock!

1. The readme states, quote:

"Copy the RealTimeStrategy folder to Plugins folder next to your .uproject file (create if necessary)."

And that's exactly what you should do. When cloning the project, you'll be able to find that folder at Source/RTSProject/Plugins/RealTimeStrategy.

2. You shouldn't need to add any dependencies from RealTimeStrategy.Build.cs to your own project.
3

[2022-02-13 17:24] GuyPaddock commented on #174
Thanks, @npruehs!

[2022-02-13 17:33] GuyPaddock opened #175 "Cannot Get Fog of War to Work"
This may be the same issue as with https://github.com/npruehs/ue4-rts/issues/158, but I am not 100% sure.

Basically, I can get `RTSProject` to run fine, but when I try to setup a sample project according to the setup instructions in https://github.com/npruehs/ue4-rts/blob/develop/Documents/Manual/Setup.md and https://github.com/npruehs/ue4-rts/blob/develop/Documents/Manual/Maps.md, all I get is a

[2022-02-13 18:26] GuyPaddock commented on #175
Nevermind! Figured it out. I was missing the character setup (specifically, I missed adding a Vision Component to the character) under:
https://github.com/npruehs/ue4-rts/blob/develop/Documents/Manual/Units.md#vision

[2022-02-14 06:00] #175 closed, assigned to nobody

[2022-02-14 06:03] GuyPaddock opened #176 "Min/Max Distances Swapped in Inline Docs"
Not sure if these are the only two that [are swapped](https://github.com/npruehs/ue4-rts/blob/034ff2bd3ccd21df598f29b6226932cd0d5f62ea/Source/RTSProject/Plugins/RealTimeStrategy/Source/RealTimeStrategy/Classes/RTSPlayerController.h#L409), but it looks like the descriptions for `MinCameraDistance` and `MaxCameraDistance` are swapped in `ARTSPlayerController`.

[2022-02-15 00:37] ForgottenFrog opened #177 "Issues/bugs, may I get some help, please?"
Hi!
I've got some issues...I'm really trying to understand the code, but I still have issues with it...may I get some help, please?
Whenever I ask a worker to build a construction, the worker gets stuck inside the construction and I cannot assign more workers to the same construction.
If I ask a worker to gather resources, it works perfectly, but if I move the worker somewhere while he's getting b

[2022-02-18 20:22] magxmaDUCK opened #178 "Issue with Building Placement and AI"
For the Building placement, I have a unit (made from a character) that can build a house. The unit moves to the build site but randomly starts building or not. It also seems that the unit has a jitter uppon arrival at the build site. I have also tried the same with a unit using the RTSMovementComponent and have the exact same result.

For the AI, Well it simply doesn't auto attack other units in r

[2022-02-18 21:37] npruehs commented on #176
Thanks @GuyPaddock - well observed! Fixed in ea006f497eb0e9be4f0c92950d1cc53bd903b5cd.

[2022-02-18 21:37] #176 closed, assigned to nobody

[2022-02-18 21:47] npruehs commented on #177
Hey @ForgottenFrog,

that's multiple questions, so let's take a look at these one by one:

1. What construction mode are you using, i.e. at the RTSConstructionSiteComponent attached to your building, what's the value of the Construction Cost Type? Also, what's the value of MaxAssignedBuilders?
2. The worker should be able to drop resources at any building with a RTSResourceDrainComponent configure

[2022-02-18 22:13] npruehs commented on #178
Unfortunately, both of these sound like bugs I need to look into...

[2022-02-19 18:19] magxmaDUCK commented on #178
I had a look in the C++ and it seems like auto-attack isnt pre made, I found the functions needed to do it however when looking for references to them there aren't any that come back, so i'm guessing the units not auto attacking is not a bug but is simply just not implemented ?

However for the building part I have yet to figure it out, it really is a random occurence. If I find anything I will ke

[2022-02-20 13:40] ForgottenFrog commented on #177
Hi! Thank you for your reply!

I've managed to solve the workers problem. Sorry about that one, but the second problem is still there...

So...whenever I select a worker, I command it to mine, it gets the resources, goes to the base, drops them and then returns to the resource source.
That's great, it works, but only if you don't bother the worker

Once the worker is carrying the max amount of res

[2022-02-26 01:14] ForgottenFrog commented on #178
Hi, I found the same problem. The AI perception is not implemented. In C++ it is mentioned, but never triggered.

[2022-02-27 21:26] npruehs commented on #177
Well observed! Thanks for sharing!

The first issue is actually rather a misconfiguration: The order for returning resources was not added to the list of orders that can be issued via right-click. I've pushed a fix in https://github.com/npruehs/ue4-rts/commit/f6f885fa53f5e4d56605a834bf8e4e20301b366b, but you can quick fix that in your project by adding the order to the DefaultOrders array of your

[2022-02-27 21:26] #177 closed, assigned to npruehs

[2022-02-27 22:11] npruehs commented on #178
I can confirm this has been multiple bugs, actually. While you've been right in that the function `FindTargetInAcquisitionRadius` isn't called anywhere in C++, it's called in the behavior tree service `RTSBTService_AcquireTargets`. However, I've found a bug in that service that caused the AI to check whether the unit's target was valid (which is never the case while the unit is idle).

Then, I've

[2022-02-27 22:11] #178 closed, assigned to npruehs

[2022-03-02 01:24] nsticco opened #179 "IssueMoveOrder vs MoveIntoBlackboardRangeToLocation"
Hello, I was wondering if you could clarify how IssueMoveOrder and MoveIntoBlackboardRangeToLocation are meant to function.

In the example project, I'm able to get a pawn to move by...

1. Assigning it the BP_RTSPawnAIController controller class
2. Assigning BP_RTSPawnAIController a new Behavior Tree with a single sequence
3. Adding RTSBTTask_MoveIntoBlackboardRangeToLocation or the native MoveTo

[2022-03-02 01:40] ForgottenFrog commented on #177
Thank you for solving the problems! I really apreciate it.

[2022-03-02 01:54] ForgottenFrog commented on #178
Hi @npruehs ,

Sorry to bother you again, but after making this change, the project just doesn't want compile again...I've even downloaded the source version of the engine, but still...no result...
The project always fails in compiling back. It still works, but the sense AI never gets built.
I've tried to download the new version of the project, but it also fails to build...(weirdly, only with the

[2022-03-02 19:58] ForgottenFrog opened #180 "Binary files problem"
Hi @npruehs
Thank you for still solving problems for this code and thank you for remaking the AI code!
I hope you don't mind it...but is it possible to get some screenshots from inside the blueprints? I can't open these binary files. The engine version (4.25) doesn't read them. 4.26 can read only the BTService file, but doesn't want to open it, it says it's invalid.
I've been trying to open the fi

[2022-03-03 20:12] #174 closed, assigned to npruehs

[2022-03-03 20:14] npruehs commented on #180
Looks like I've made a stupid mistake here. I saved these assets with UE5, which apparently isn't backwards-compatible. I'm gonna re-save them with UE 4.27, but I don't have time for that today.

[2022-03-04 00:37] ForgottenFrog commented on #180
Thank you! I really appreciate it!

[2022-03-06 16:58] npruehs commented on #152
Closing this now for tracking purposes. Feel free to re-open in case you've got an update!

[2022-03-06 16:58] #152 closed, assigned to npruehs

[2022-03-06 17:00] npruehs commented on #163
Closing this now for tracking purposes. Feel free to re-open in case you've got an update!

[2022-03-06 17:00] #163 closed, assigned to npruehs

[2022-03-06 17:00] npruehs commented on #166
Closing this now for tracking purposes. Feel free to re-open in case you've got an update!

[2022-03-06 17:00] #166 closed, assigned to npruehs

[2022-03-06 17:00] npruehs commented on #167
Closing this now for tracking purposes. Feel free to re-open in case you've got an update!

[2022-03-06 17:00] #167 closed, assigned to npruehs

[2022-03-06 17:10] npruehs commented on #172
Get Player Controller with player index 0 works for you, and returns a valid player controller, because it's a built-in helper function that just takes an index returns a player controller - as expected.

Get AI Controller takes an actor as argument, and is supposed to be passed a pawn controlled by an AI controller. This has originally been built by the engine team for getting the AI controller o

[2022-03-06 17:14] npruehs commented on #179
Hey @nsticco!

You shouldn't need to build your own behavior trees. If you still want to do that, I recommend taking a look at AI/BT_RTSPawnBehaviorTree for reference in the plugin content folder. You might need to enable "Show Plugin Content" in your content browser settings.

Using the node RTSBTTask_IssueMoveOrder without using the default behavior tree shipped with the plugin is deemed to fail

[2022-03-06 22:12] npruehs commented on #165
Clarified in commit fca758365c05b0165d2f9ef28ffecad947a5f95c.

[2022-03-06 22:12] #165 closed, assigned to npruehs

[2022-03-06 22:12] npruehs commented on #180
Fixed in commit fca758365c05b0165d2f9ef28ffecad947a5f95c.

[2022-03-06 22:12] #180 closed, assigned to npruehs

[2022-03-06 22:16] #168 closed, assigned to npruehs

[2022-03-11 05:44] nsticco commented on #179
Very helpful, thank you for clarifying!

And thank you for all the work you've put into the plugin!

[2022-03-11 05:44] #179 closed, assigned to npruehs

[2022-04-01 15:40] sumrex opened #181 "Can't open UE5 Project"
I can't seem to open the UE5 version of this project.

It gives the classic "Built in another version, try recompiling" and when I allow it to do so it just says it failed and to try rebuilding from source. When I open the solution, trying to clean and build just gives an error as well. I am not an adept programmer so I can't really troubleshoot much farther than this.

C:\Program Files (x86)\Micr

[2022-04-01 19:20] sumrex commented on #181
Restarting my computer fixed it! Must have been on my end!

[2022-04-01 19:20] #181 closed, assigned to nobody

[2022-04-04 16:12] sumrex opened #182 "Not seeing health bar or selection circle"
I am having an issue where I do not see either health bars or selection circles for my units. I have been referencing both documentation and the example project. The example works fine but my own project does not, I see a health bar for a brief moment on launch and then never again, the selection circle never appears. I am not sure if maybe I missed something but I have cross referenced and theore

[2022-04-09 22:10] Zimbo1786 opened #184 "Squad Handling"
Hi all,

I’ve been looking at adapting this to handle squads like Dawn of War or Company of Heroes.

I’ve been looking around at any tips, and the best I’ve come across is the following:
- An actor for the squad that contains an array of squad units
- A squad class that contains information such as squad minimum and maximum size, squad population usage etc.
- The squad actor has an ai controller
-

[2022-04-13 15:16] Mephiztopheles opened #185 "Transform Repository into Plugin Repo"
This Repository can't be easy integrated into the Project. A better approach would be to just include the Plugin as files, so the developers can integrate it as a submodule.
Sou you can easily create a nother repo with a demonstrational Game

[2022-04-13 15:28] Mephiztopheles commented on #182
Does your selection circle have a material set?
There is a shipped Circle found in the plugin content. Also make sure, that you have selected the correct player controller which is in charge for the selection.

Also your Inputs could be a problem. Check, if you have copied the inputs from the demo project

[2022-04-13 15:47] Mephiztopheles opened #186 "Add GameplayAbilities as Combat base"
Wit the "new" GameplayAbilities, the old Attack and Health System doesnt quite fit anymore.
With the GameplayAbilities you can achieve a calculation and effects based on gameplaytags.
That's also giving the base for implementing abilities

[2022-04-13 21:48] sumrex commented on #182
I had a material set and everything.

I did eventually figure it out. The draw size of the circle is based on the collision component of the units. Basically after lots of testing, you need to put capsule collision on the unit, which will determine circle size. This cannot be anything other than capsule from the looks of it.

[2022-04-14 12:20] Mephiztopheles commented on #182
As i look into the code, it should work with every ShapeComponent. So Box, Sphere and Capsule should work

[2022-04-14 17:33] Mephiztopheles commented on #182
Also the Decal only projects on other actors. So if your actor is not on the ground, then you can't see the decal

[2022-04-18 22:12] sumrex opened #187 "Unit Repair Functionality"
Is it possible with the current system to have a system where units can repair other units? I have been trying to find a way but I am not an experienced C++ user so my options are pretty limited.

If there isn't a way, it would be nice if it was added because I can only assume it is a common need.

[2022-04-19 07:05] Mephiztopheles commented on #187
I've created an order which represents repair. periodically refills the health.
Won't push that until the repository was changed into something maintainable

[2022-04-22 04:05] sumrex opened #189 "Builders won't assign to Construction Sites after adding an AIPlayerController"
I have a system where players can attack a building to capture it. When they do I switch it's team and run StartConstruction from the ConstructionSite component. This works and my debug text says as much.
When I add an AIPlayerController to my GameMode this functionality stops working. The building does switch teams and does switch construction states, but builders refuse to be assigned to it. My

[2022-04-25 14:33] Mephiztopheles commented on #185
#191

[2022-04-25 14:35] Mephiztopheles commented on #186
#188

[2022-04-26 19:53] Mephiztopheles opened #190 "Allow to change Colors and Opacity for Fog of war"
Currently the fog of war material seems to be very static
We can't easily change the color and opacity of each visibility stage

[2022-04-28 18:49] Mephiztopheles commented on #190
This would also be included in #195
The only thing I'm still confused about is that the material doesn't work with the alpha value included. I have to mask all the colors to remove the alpha otherwise we can't apply the color but only a fade to black

[2022-05-06 21:34] nsticco opened #196 "Is there a reason RTSPlayerAIController does not use RTSPlayerState?"
Hello, I notice RTSPlayerAIController does not seem to reference RTSPlayerState, while RTSPlayerController does. Is there an advantage / best practice to not using PlayerState with RTSPlayerAIController?

I was planning on adding PlayerState for AI in my game, but I wanted to see if there are pitfalls / downsides I should be aware of.

[2022-05-06 21:57] npruehs commented on #196
Hey @nsticco !

I don't see why that shouldn't work. In fact, it might be a good idea to do so, to have access to player index/team index/own actors.

Best regards,
Nick

[2022-05-06 23:18] nsticco commented on #196
Thanks!

[2022-05-06 23:18] #196 closed, assigned to npruehs

[2022-05-09 18:02] JaveyLee opened #197 "Wrong collision setting with RTSMinimapVolume by default"
The default collision is "OverlapAll" which makes my moving order target located at the Volume box instead of landscape. I change it to "NoCollision" so that my unit pawns can receive the moving order correctly. I'm not sure whether this change will affect the creation of minimap.

[2022-05-14 20:18] Mephiztopheles commented on #38
I think i found a solution. I'm not sure if this is the best way, and if it can "survive" all possible scenarios.

Create a cube or a plane and place it above your level at the height, where the air units should be "flying"
For collision you should ignore everything but pawn.
Extend your navigation, so it covers that object. Now you can either set a material, so it's 90% opaque, so you can see in

[2022-05-30 17:44] JaveyLee opened #199 "Addselection & toggleselection doesnt work?"
1, Addselection & toggleselection action doesn't work, how to solve this problem?
2, New Control group doesn't override old control group, which makes one unit respond to multiple LoadControlGroup actions.

[2022-10-09 08:07] ImperatorJuri opened #201 "Camera Movement"
Moin,

leider kann ich die im Bild dargestellten drei Aktionen nicht finden, wo kann man diese denn eintragen?

Im Falle von Inputs in Project Settings muss man Up/Down Left/Right trennen nehme ich an.

![image](https://user-images.githubusercontent.com/115213142/194744921-78911ecc-bad9-49c9-9b92-fdb53fd5acfa.png)
_________

Hey,

sadly I can't find the three camera movement commands, can anyone t

[2022-10-09 21:42] npruehs commented on #201
Hey @ImperatorJuri !
You're correct, these are referring to Project Settings > Input.
There's no way to "find" them, you'll have to define them there yourself, by just specifying these exact names.
Because you need to define _axes_ (as opposed to _actions_), you'll need to bind both Left/Right to the same axis.

[2022-10-18 14:19] RM6SS62 opened #203 "Camera issues"
Hello friends, I have a decent experience with UE but just starting with this plugin.
I did follow the setup process exactly as it is described and found some problems with the camera.

1- Zoom doesn't work (ZoomCamera is bound to Mouse Wheel Axis).
2- Initially camera movement is ok, but when it's rotated (by holding RMB and moving the mouse in either axes) the axes mess up.
3- I don't seem to be

[2022-10-18 18:16] #203 closed, assigned to nobody

[2022-10-18 19:08] RM6SS62 commented on #145
Is the discord channel active @coolyoshi ?
If so I'd like to get and invite, thanks!

[2022-10-18 20:04] coolyoshi commented on #145
It's not very active but here it is anyways: https://discord.gg/Jeca7vjnVT

[2022-10-19 01:06] RM6SS62 opened #204 "Move order gets a wrong location"
As title, if I manually move the unit to the value of TargetLocation in the blackboard I can see it's not when I right clicked, actually that location is in the air thus the unit not moving at all.

![ue](https://user-images.githubusercontent.com/44353854/196573413-bcb7b816-99f5-4975-ba89-5737778b80dc.png)

[2022-10-21 21:55] RM6SS62 commented on #171
I have the same problem, the order in the blackboard is correct but the location is not, it's not where I click.

Does this even work?

[2022-10-23 16:07] RM6SS62 commented on #204
Fixed it by disabling collisions in the procedural foliage volumes.

[2022-10-23 16:07] #204 closed, assigned to nobody

[2022-10-24 13:09] RM6SS62 opened #205 "Delay before damage"
I created an attack with a radius of 20 for a melee unit, so the damage is instantly applied once the unit reach its target, which is not convenient since it doesn't play the animation attack yet.

I wonder if the plugin provides any solution for this or I would have to implement it myself.

Thanks in advance.

[2022-10-24 17:15] RM6SS62 opened #206 "Show health bars for units being attacked"
Feature request

[2022-10-29 19:01] #201 closed, assigned to npruehs

[2022-11-20 22:19] npruehs commented on #205
Hey @RM6SS62 ,

unfortunately, the plugin doesn't provide a great means for this yet... In A Year Of Rain, we tied dealing damage to "anim notifiers" in the animations, but you'd have to re-work the plugin for doing so.